[2017-09-10 07:12] davidepisu opened #1 "Pipeline Error"
Got this error while generating the Expression Matrix:

[Sun Sep 10 01:02:04 2017] Finished job 1.
[Sun Sep 10 01:02:04 2017] 4 of 5 steps (80%) done
[Sun Sep 10 01:02:04 2017]
[Sun Sep 10 01:02:04 2017] localrule all:
    input: logs/MLW12_hist_out_cell.txt
    log: logs/Dropseq_post_align.log
    jobid: 0
[Sun Sep 10 01:02:04 2017]
[Sun Sep 10 01:02:04 2017] Finished job 0.
[Sun Sep 10 01:02:04

[2017-09-12 07:13] Hoohm commented on #1
Normally, the generate-plot should create a file in the summary file. So there is something wrong there
Something is really odd, you don't get any errors while running the generate-plots mode?

[2017-09-13 15:06] Hoohm commented on #1
Can you provide the config.yaml file?
I'm thinking maybe your datatype value is wrong.
Is it SingleCell instead of singleCell?

[2017-09-13 15:15] davidepisu commented on #1
I can't attach the file here. I copied the settings from here: https://github.com/Hoohm/dropSeqPipe/wiki/Create-config-files

Anyway this is my config file:

Samples:
    MLW15:
        fraction: 0.001
        expected_cells: 2000
GENOMEREF: /SSD/ref/genome.fa
REFFLAT: /SSD/ref/annotation.refFlat
RRNAINTERVALS: /SSD/ref/genome.rRNA.intervals
METAREF: /SSD/ref/STAR_INDEX_NO_GTF/
GTF: /SSD/ref/annot

[2017-09-13 15:17] Hoohm commented on #1
Ok, so datatype has to be either bulk or singleCell. And it is case sensitive.
I will put some checks in.

[2017-09-13 15:20] davidepisu commented on #1
Ok, I can try running the pipeline on another sample, setting singleCell instead of SingleCell in the config file.

[2017-09-13 15:52] Hoohm commented on #1
Added a check for Data_type value.
Please let me know if that fixed the issue.

[2017-09-18 16:13] abmmki opened #2 "sample_yaml' is not defined"
Hi,

 I am using latest version of the Dropseq pipeline. (installed today)

However, I am getting following error.  I have the config.ymal file. It is in the right directory.
So, how can I overcome this? Could you help?

dropSeqPipe -f /hd2 -c /home/bin/DropSeqPipelineHoohm_v0.23a/dropSeqPipe/local.yaml -m pre-process --rerun

Traceback (most recent call last):
  File "/bin/dropSeqPipe", line 9, i

[2017-09-18 16:40] abmmki commented on #2
OK, I see the problem, There is a typo in the __main__.py file
# it should be
samples_yaml = yaml.load(samples_config)

# instead of

sample_yaml = yaml.load(samples_config)

(samples vs sample)

# so, after editing this, re run the setup file

[2017-09-18 18:53] Hoohm commented on #2
Hello @abmmki and thanks a lot for the notice.
It's fixed now.

[2017-09-18 18:53] #2 closed, assigned to nobody

[2017-09-19 16:25] abmmki opened #3 "keyError"
Hi

can you help to solve the following problem. I am using latest version 0.23a

**dropSeqPipe -f /hd2/ -c /home/dropSeqPipe/local.yaml -m pre-process**

[Tue Sep 19 09:00:33 CDT 2017] picard.sam.SamToFastq done. Elapsed time: 16.92 minutes.
Runtime.totalMemory()=1126170624
[Tue Sep 19 09:00:33 2017] Finished job 1.
[Tue Sep 19 09:00:33 2017] 3 of 4 steps (75%) done
[Tue Sep 19 09:00:33 2017]
[Tu

[2017-09-19 16:33] Hoohm commented on #3
Hello,

you probably have a mispelling in the config.yaml from the run.
Can you double check the spelling?
`allowed_aligner_mismatch`

[2017-09-20 16:41] abmmki opened #4 "sjdbOverhang Error"
Hi,
I have attached the screen-shot of error logs
Could you please help.

thanks
![error](https://user-images.githubusercontent.com/7769806/30656112-c6635248-9e54-11e7-80d7-6ec2e618e222.png)

[2017-09-20 22:26] Hoohm commented on #4
Hello,
this is because the new version uses non annotated STAR index to do the mapping with an overhang specific to the sample.
So when you give it an already annotated index, it won't run because the overhang is not compatible.
To make it run, you have to erase the old STAR index and run the generate-reference again.
The easiest way would be to just erase all the files in the reference folder exc

[2017-09-21 13:31] abmmki commented on #4
Hi,

I actually used re-generated metadata. I got following files there and a folder (with files) "STAR_INDEX_NO_GTF". (although I am using "STAR_INDEX" folder in config.ymal file as METAREF:) However, when I run the command of "generate-meta", I got an error message even after job complete 100% signal.

dmel.6.9.consensus_introns.intervals
dmel.6.9.dict
dmel.6.9.exons.intervals
dmel.6.9.fa
dmel.6

[2017-09-21 14:21] Hoohm commented on #4
Hello,
your reference files are fine. The bug came from a indentation error in the code.
It's fixed now (pushed) but was only present for `generate-meta`

You can run the rest with the reference files you have normally.

[2017-09-22 01:41] abmmki commented on #4
Hi,

Many thanks. However, it required folder name to be "STAR_INDEX_NO_GTF" in stead of what says in the wiki "STAR_INDEX" . Otherwise file not found error showed.
thanks

[2017-09-22 09:06] Hoohm commented on #4
Perfect!
I think I'll leave the path like this for now. the STAR index is a general name for any path you got. People might actually create their own index without using `generate-meta`.
In the future it will be automated and this path won't be manually named anymore.
I close this issue then.
Thank you

[2017-09-22 09:06] #4 closed, assigned to nobody

[2017-09-25 13:09] abmmki opened #5 "generate-plot error"
Hi,

I am using 0.23a version. At the generate-plot step it looks like all the required plots I got, however, I see error message at the end. Just wonder if I am missing anything? How to overcome this?

Plotting knee plots
There were 16 warnings (use warnings() to see them)
Plotting base stats
Loading required package: magrittr
`geom_smooth()` using method = 'loess'
`geom_smooth()` using method =

[2017-09-26 08:40] Hoohm commented on #5
Hello,
sadly the 0.23a version still has a whole Rscript for all of those plots so it's difficult to debug. This will be fixed in 0.24.
I guess the main issue is that one of the log files is probably empty. Maybe your filters are too loose.
Could you tell me which plot has been produced and which not?

[2017-09-26 12:02] abmmki commented on #5
HI,

I got following 7 plots for each of my 16 samples, and none are empty.

SAMPLE_base_freq_plot.pdf
SAMPLE_Cell_qual.pdf
SAMPLE_knee_plot.pdf
SAMPLE_polya_trimmed.pdf
SAMPLE_rna_metrics.pdf
SAMPLE_SMART_trimmed.pdf
SAMPLE_UMI_qual.pdf

I also got fastqc.pdf plot. Just which is empty is Rplot.pdf file. .... and I think it is supposed to be empty (?).

best,

[2017-09-26 13:01] Hoohm commented on #5
I see, you might be missing the BCDrop.pdf which is the summary of cell barcode and UMI filtering.
Did you run the fastqc step? You must have since you have the plot.
Could you please paste the config file?

[2017-09-26 14:26] abmmki commented on #5
Yes, I run the fastqc step first. And got the FastQC plot pdf file.

# config.yaml

Samples:
    S1:
        fraction: 0.0001
        expected_cells: 350
    S2:
        fraction: 0.0001
        expected_cells: 400
    S3:
        fraction: 0.0001
        expected_cells: 400
    S4:
        fraction: 0.0001
        expected_cells: 900
    S5:
        fraction: 0.00005
        expected_cells: 1000

[2017-09-26 14:28] abmmki commented on #5
would it be possible that I am missing it as I added following parameter in post_align.snak

VALIDATION_STRINGENCY=LENIENT\

[2017-10-15 03:47] davidepisu commented on #1
Still getting the error at the fastqc...

/programs/FastQC-0.11.5/ MLW4_R1.fastq.gz MLW4_R2.fastq.gz -t 2 -o logs --extract
/bin/bash: /programs/FastQC-0.11.5/: Is a directory
[Sat Oct 14 23:39:40 2017] Error in job fastqc while creating output file logs/MLW4_R1_fastqc.html.
[Sat Oct 14 23:39:40 2017] RuleException:
CalledProcessError in line 23 of /programs/dropSeqPipe/lib/python3.6/site-packages

[2017-10-16 10:35] Hoohm commented on #1
Oh, I see now.
Your fastqc path is wrong. You probably used something like: /path/to/fastqcFOLDER
You should have /path/to/fastqc
fastqc should be the executable.

[2017-10-16 15:18] davidepisu commented on #1
Oh ok, now I get the following error:

Mode is generate-plots
Plotting knee plots
Error in file(con, "r") : cannot open the connection
Calls: yaml.load_file -> yaml.load -> paste -> readLines -> file
In addition: Warning message:
In file(con, "r") :
  cannot open file '/SSD/MLW4config.yaml': No such file or directory
Execution halted
Traceback (most recent call last):
  File "/programs/dropSeqPipe

[2017-10-16 15:25] Hoohm commented on #1
Hello,
I know there is some error handling to do but this one is actually pretty straight forward:
`cannot open file '/SSD/MLW4config.yaml': No such file or directory`
This means you forgot the slash at the end of your -f arg.
You should use `-f /SSD/MLW4/` instead of `-f /SSD/MLW4`

[2017-10-17 13:51] davidepisu commented on #1
Gotcha, I think the problems are arising from a bad configuration file anyway. Now I get the following:

Mode is generate-plots
Plotting knee plots
Warning message:
In readLines(input, encoding = "UTF-8") :
  incomplete final line found on '/SSD/MLW10/config.yaml'
Warning message:
Removed 1425492 rows containing missing values (geom_point).
Plotting base stats
Loading required package: magrittr
Wa

[2017-10-23 02:17] abmmki opened #6 "Generate Plot | Error in mmm"
Hi,

In generate-plot step I am getting following error. What I am mising?
Using 023a version.

Plotting knee plots
Warning messages:
1: Removed 716167 rows containing missing values (geom_point).
2: Removed 563180 rows containing missing values (geom_point).
3: Removed 1336568 rows containing missing values (geom_point).
4: Removed 1230829 rows containing missing values (geom_point).
5: Removed 1

[2017-10-23 10:01] abmmki opened #7 "generate-meta | UnboundLocalError: local variable 'samples_yaml' referenced before assignment"
Hi,

I got following error in generate meta step with mouse Ensembl Grcm38 genome and its gtf file.
Log.out file shows that all steps completed (it says "done  ..... finished successfully
DONE: Genome generation, EXITING)
It looks like I have all necessary file generated (not sure though if incomplete)

I just wonder how to fix this error:

[Sun Oct 22 22:23:13 CDT 2017] org.broadinstitute.dropseq

[2017-10-23 10:08] Hoohm commented on #7
The meta_generation works fine. This is just a tab bug that was fixed in the newer version. 0.24
Are you sure you are using 0.24?
`load_entry_point('dropSeqPipe==0.23a0', 'console_scripts', 'dropSeqPipe')()`

[2017-10-23 10:16] abmmki commented on #7
Hi,

Thanks. I am using 23a version. So, v0.24 will solve.

thanks again

[2017-10-23 10:16] #7 closed, assigned to nobody

[2017-10-23 10:18] abmmki commented on #6
just to add, I am using drosophila BDGP 6 version genome (with many new and uncharacterised chromosomes)

[2017-10-23 10:19] #3 closed, assigned to nobody

[2017-10-23 10:20] #5 closed, assigned to nobody

[2017-10-24 17:02] abmmki opened #8 "Premature end of file error"
Hi,

I got following error in pre-process step. (Using latest version 0.24)
Specially at MergeBamAlignment step:

[Tue Oct 24 11:01:49 CDT 2017] MergeBamAlignment UNMAPPED_BAM=Secondary_tagged_unmapped.bam ALIGNED_BAM=[Secondary_Aligned_sorted.sam] OUTPUT=/dev/stdout PAIRED_RUN=false INCLUDE_SECONDARY_ALIGNMENTS=false COMPRESSION_LEVEL=0 REFERENCE_SEQUENCE=/home/grcm38/mm38.fa    CLIP_ADAPTERS=tru

[2017-10-24 17:16] abmmki commented on #8
one more thing......... i am seeing one error file generated, which says following (however, before running, i enabled core dump):......... so what i am missing?

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007ff95cde802e, pid=31281, tid=0x00007ff95ab05700
#
# JRE version: OpenJDK Runtime Environment (8.0_111-b16) (build 1.8.0_111-b16)
# Java V

[2017-10-25 13:40] abmmki commented on #8
OK finally, running the following command in the active shell/terminal (terminal for running commands) and increasing the memory Xmx (default 500mb) in post align snak files solved the problem

ulimit -H -c unlimited
ulimit -H unlimited
ulimit -c unlimited

I increased memory to 90G as my file was huge in size. So, basically deafult RAM memory allocation in the snak file was not sufficient to run

[2017-10-25 13:40] #8 closed, assigned to nobody

[2017-10-30 10:24] kkjjhhk opened #9 "Hi, i have a question about using dropSeqPipe"
Hi,

I'm doing follow the wiki and,

have a problem in generate-meta step.

here is error massages :

[Mon Oct 30 19:16:47 2017] IndexError in line 5 of /usr/lib/python3.6/site-packages/dropSeqPipe/Snakefiles/generate_meta.snake:
[Mon Oct 30 19:16:47 2017] list index out of range
[Mon Oct 30 19:16:47 2017]   File "/usr/lib/python3.6/site-packages/dropSeqPipe/Snakefiles/generate_meta.snake", line 5

[2017-10-30 15:38] Hoohm commented on #9
Hello,

this is probably linked to a wrong genome file extension.
In the folder containing the genome and the annotation you should have exactly two files:
One file is the genome and has to end in .fa
The second is the annotation file and has to end with .gtf

That should fix it.

[2017-10-31 02:43] duyck commented on #6
Here's a fix I created. This forces the gtables objects to take the "last" plots width as the width for both.

Edit file:
${HOME}/.local/lib/python3.5/site-packages/dropSeqPipe/Rscripts/singleCell/rna_metrics.R

Replace:
grid::grid.draw(rbind(gp1, gp2))
with
grid::grid.draw(rbind(gp1, gp2, size = "last"))

[2017-10-31 17:37] abmmki commented on #6
@duyck
Hi,
Many thanks. It worked perfectly.
Thanks once again.

[2017-10-31 17:37] #6 closed, assigned to nobody

[2017-10-31 18:53] duyck opened #11 "Multiqc error"
Pipeline continually failed on multiqc report

Fix: Install multiqc development version 1.3
pip install git+https://github.com/ewels/MultiQC.git --user

Unnecessary Fix:
Double forward slash in pipeline does not seem to affect output however it looks weird...
[INFO   ]         multiqc : Searching '${HOME}/yourdirectory//logs'
Edit: __main__.py
Change: multiqc = 'multiqc -o {0} {0}/logs {0}/summary

[2017-10-31 19:05] duyck opened #12 "Feature Request: Ensembl ID alongside gene name in expression table"
There are over 100 ensembl genes with the same name. Would be helpful to have unique identifiers used alongside gene names.

[2017-11-02 11:26] Hoohm commented on #11
Hi and thanks for the heads up.
The next version won't be automatically generating the multiqc report although I still highly recommend it.

Best wishes

[2017-11-02 11:38] Hoohm commented on #1
@davidepisu the issue should be resolved thanks to @duyck
Did it fix it for you?

[2017-11-14 11:57] Hoohm commented on #12
The gene name selection is done in the Drop-seq tools which are written in java and not available.
One hack would be to just copy the gene ID in the gene name filed in the gtf file. But this is kind of messy.

[2018-01-01 10:47] Hoohm commented on #9
@kkjjhhk Could you fix it? Can I close the issue?

[2018-01-02 00:37] kkjjhhk commented on #9
Yes, I fixed it.

Thanks and have a nice day!

From: Patrick Roelli [mailto:notifications@github.com]
Sent: Monday, January 01, 2018 7:47 PM
To: Hoohm/dropSeqPipe
Cc: kkjjhhk; Mention
Subject: Re: [Hoohm/dropSeqPipe] Hi, i have a question about using dropSeqPipe (#9)

@kkjjhhk <https://github.com/kkjjhhk>  Could you fix it? Can I close the issue?

—
You are receiving this because you were mentione

[2018-01-03 13:03] #9 closed, assigned to nobody

[2018-01-05 18:00] seb-mueller opened #14 "still sjdbOverhang Error for very small datasets"
When running dropSeqPipe on a rather small test dataset (~1000 reads) I got the following error:

    EXITING because of fatal PARAMETERS error: sjdbOverhang <=0 while junctions are inserted on the fly with --sjdbFileChrStartEnd or/and --sjdbGTFfile
    SOLUTION: specify sjdbOverhang>0, ideally readmateLength-1

Note, as suggested in issue #4, I've regenerated (`generate-meta`) the STAR index whic

[2018-01-07 00:04] Hoohm commented on #14
Hello @seb-mueller,
I'm currently working on the next release and the read length will be specified manually per sample.
This will fix the issue.

Happy new year :)

[2018-01-08 11:35] seb-mueller commented on #14
Thanks for the quick response and happy new year too!
I wasn't aware of the 0.24 branch (it's major changes). I'll switch over to it to give it a whirl then (so this can be considered solved).

[2018-01-08 11:35] #14 closed, assigned to nobody

[2018-01-23 13:47] Hoohm commented on #11
@duyck
The new version actually integrates multiqc properly.
Closing this issue.

[2018-01-23 13:47] #11 closed, assigned to nobody

[2018-01-23 13:48] Hoohm commented on #1
Hello @davidepisu,
could you test it out on the new version and tell me if it's fixed?

[2018-01-23 13:51] Hoohm commented on #12
@duyck
I found out there is an option to get multiple genes on top of the read in the TagReadWIthGeneExon.
`ALLOW_MULTI_GENE_READS=BooleanAllow`
The only problem is that it would use a comma separated gene name, which is probably not satisfactory.

I can still expose the option if you want.

[2018-01-25 15:58] seb-mueller opened #16 "Double prefix in meta rule"
Having followed the wiki, I ran into an error in the meta rule, i.e. running the following:

    snakemake --snakefile ~/analysis/dropseq/software/dropSeqPipe/Snakefile meta

got me this error at some point:

    rule create_intervals:
        input: /home/user/analysis/dropseq/data/mixed/hg19_mm10_transgenes.reduced.gtf, /home/user/analysis/dropseq/data/mixed/hg19_mm10_transgenes.fa.dict

[2018-01-25 16:09] Hoohm commented on #16
@seb-mueller
Thanks for the issue.
There is one thing I know will probably fix your issue is renaming the reference from .fa to .fasta.
I haven't implemented something better than harcoding the extension in the code right now. Maybe I should make it compatible for either fasta or fa.

[2018-01-26 10:32] seb-mueller commented on #16
It's still giving the same error after renaming the fa to fasta (I've started from a clean directory containing only the fasta and gtf to make sure it's not due to tmp files).

[2018-01-26 10:38] Hoohm commented on #16
Interesting. I'm gonna test it myself too.
Have you cloned the rep lately or just when it came out? I know I had the same issue a few commits back.

[2018-01-26 10:54] seb-mueller commented on #16
I cloned it a few days ago and are now on the latest commit (1fe59..).
Also I've activate the conda environment as described in the wiki and I've just in case I've copied my config.yaml below:

    LOCAL:
        TMPDIR: ./tmp
        DROPSEQ-wrapper: ~/analysis/dropseq/software/Drop-seq_tools-1.13/drop-seq-tools-wrapper.sh
        MEMORY: 20g
    META:
        species:
          - HUMAN

[2018-01-26 11:10] Hoohm commented on #16
Might have found out the problem.
You don't need the full path for the reference files, only the filename.
Try that out

On Fri, Jan 26, 2018, 11:55 seb-mueller <notifications@github.com> wrote:

[2018-01-26 11:31] seb-mueller commented on #16
That worked! Slightly embarrassing since this looks rather obvious retrospectively.
I think I copied those from the 0.23 version which I believe required the full path, it's correctly depicted in the wiki though.
Thanks for the quick help!

[2018-01-26 11:31] #16 closed, assigned to nobody

[2018-01-26 12:10] Hoohm commented on #16
@seb-mueller  Happy to help.
Quick question, where did you find the source code from dropseqtoolsv1.13? Did i miss it somewhere or did you reverse the jar file?

[2018-01-26 12:57] seb-mueller commented on #16
It's all the bundled zip [file](http://mccarrolllab.com/download/1276/), specifically in this subdirectory `Drop-seq_tools-1.13/public/src/java/org/broadinstitute/dropseqrna/`
Could you find it?

[2018-01-26 13:01] Hoohm commented on #16
Yep, now I feel stupid :)
Thanks.

[2018-01-26 13:07] seb-mueller commented on #16
In all fairness, it's well buried in multiple subdirs plus it's Friday ;)

[2018-02-10 15:03] pwl opened #17 "STAR: terminate called after throwing an instance of 'std::bad_alloc'"
I encountered this issue https://github.com/alexdobin/STAR/issues/103 when running dropSeqPipe in the `meta` mode.  Would it be possible to add the `--genomeChrBinNbits` parameter to your pipeline?  After running the same STAR command but with `--genomeChrBinNbits 15` everything went fine.

[2018-02-10 15:05] pwl commented on #17
Also, it's not a big deal but `--runThreadN` option ignores the `--cores` value when running in the `meta` mode https://github.com/Hoohm/dropSeqPipe/blob/c8e70ce39cf8ce46638e85906b43fb479e2688e3/rules/generate_meta.smk#L85

EDIT: now I see how it works (allocating tasks according to how many threads they are defined to use).  Please ignore that comment:-)

[2018-02-11 11:08] Hoohm commented on #17
Hello,
I can expose this value, no problem.
It will be done in the next release (maybe 1 or 2 weeks).
In the meantime you can easily edit it manually in the rule.

Concerning the number of threads = 4 for the INDEX generation, I ran into performance issue when using a high number of threads a couple of months ago, hence the limit to 4. Maybe this has been fixed now in STAR. I'll test it out and ma

[2018-02-12 13:08] seb-mueller opened #18 "MinCellFraction parameter to estimate STAMP count from config.yaml disappeared"
I've noticed the automatic determination of STAMPS in was taken out from v0.23.
I.e. the following line, which depended on the the cell fraction (`MinCellFraction = 0.001` or so in `config.yaml`) parameter (at least this what I think hapend, please correct my if I'm wrong):

https://github.com/Hoohm/dropSeqPipe/blob/2fe6b2ac95906427116ece31b7582af748e9ead1/dropSeqPipe/Rscripts/singleCell/knee_plot

[2018-02-12 13:23] Hoohm commented on #18
Hello! @seb-mueller

The automatic determination has been taken because I've never found a full proof way to do it.
This might come back later if I find something that's robust. I've also noticed that later in the analysis, I tend to filter out based on other criteria (percent mitochondrial genes, percent of reads taken up by the top 50 genes per cell, etc..) I always tend to filter more than the

[2018-02-12 13:56] Hoohm commented on #18
@seb-mueller
I'm open to suggestions. If you use a method you trust, I'd gladly try it out.

[2018-02-12 15:04] Hoohm commented on #17
Hello @pwl
I changed it up a bit, in the next version will calculate the value with the proposed function in [the issue](https://github.com/alexdobin/STAR/issues/103).

[2018-02-12 16:36] seb-mueller commented on #18
Thanks for the clearing this up. I agree with your reasoning, this method probably wasn't robust enough to grantee a decent estimate.
The blog post you mentioned is an interesting read, mostly focusing on error correction which they concluded isn't even worth doing at the end ;)

As a suggestion, I'd probably leave it to the user to specify the count, however the knee-plot should nevertheless show

[2018-02-12 16:49] Hoohm commented on #18
Sorry, this was the second part of the article. The [first part](https://cgatoxford.wordpress.com/2017/05/18/estimating-the-number-of-true-cell-barcodes-in-single-cell-rna-seq/) talking about this "true" stamps is about the selection

There is a "report" with the knee plot. It will show you where you cut anyways so you have a rough idea of how much of the reads you keep.

I'm still working a few r

[2018-02-12 17:09] seb-mueller commented on #18
I've in fact read this already (I didn't make this clear), his proposed knee method might be a obvious potential choice:

Although Tom Smith seems to have come up with this and might not be robust or thoroughly tested.  Again, I feel there must be something out there.
Anyway, I suppose something like in Fig 3 could be a good addition to the knee plot, i.e. `distribution of counts (log10)` to visua

[2018-02-12 17:14] Hoohm commented on #18
Ok, sorry :P

I'm open to any help man! If you want to get dirty, be my guest. Shouldn't be that hard to add theplot beneath the knee plot like I did for rna_metrics for example.

[2018-02-12 17:34] pwl commented on #17
@Hoohm thanks for your comments.

So far nothing changed in the `generate_meta.smk`, I guess you haven't pushed the changes yet?

I tested STAR with more threads (8) and it seems to run just fine but that's just my limited experience.

[2018-02-12 17:38] Hoohm commented on #17
@pwl That is right, haven't pushed anything yet.
I'm gonna test STAR again later, but that's not gonna be a priority and I guess it's not much a bottleneck right now since it only runs once per read size.

[2018-02-12 17:41] pwl commented on #17
Nah, the index generation runs fine with 4 threads, so that's not critical by any means.  I'll keep an eye on the new releases, currently I just keep a modified `generate_meta.smk` locally.

Oh, and by the way, I saw the changelog file and there are release numbers there but there are no git tags to reflect these releases (aside from v0.24).  I know this is an unrelated issue but could you please

[2018-02-12 17:47] Hoohm commented on #17
Yea, I have to force myself to make releases. It's planned for the next release, 0.31

[2018-02-12 17:58] seb-mueller commented on #18
Ah, only read the second part of your answer. My notification mail only had a fraction of it in it for some reason. Anyway, totally agree. curious how the "top50 genes" approach pans out. Do you have a reference to this general approach? Just curious.

[2018-02-12 18:01] pwl opened #19 "A rule for FASTQ merging"
The data I'm analyzing comes in a form of several fastq files, like so

[code]

The current version of dropSeqPipe only allows for one `fastq` file per sample per read so I'm basically merging all the files by hand into `sample1_R{1,2}.fastq.gz` before running your pipeline.  Do you think it would make sense to add a rule for merging several fastq with the same root name like `sample1` in the abov

[2018-02-12 18:21] Hoohm commented on #18
No reference, an idea from a co-worker.
You could translate that by "diversity coefficient". If you have a "normal" amount of reads in your cell compared to others but all of them are only in 50 genes instead of spreading to a few hundreds/thousands, most of the time, it's a "bad" cell. Most of the time it correlates with high mitochondrial content which probably means your cell was dead or "open"

[2018-02-12 18:58] pwl opened #20 "Empty summary files"
I run the whole pipeline (`meta qc filter map extract`) on one sample with 4M reads.  Most of the pipeline run without any issues and then an R script threw an error near the end of the analysis.  When I started debugging the scripts I found that all of the summary files are empty (apart from their headers).

You can find the reports [here](https://uni-bonn.sciebo.de/s/NW4usT7nQCmCQW8).  What's su

[2018-02-12 19:05] pwl commented on #20
Perhaps related: the refFlat file generated by running the `meta` target turned out to be empty, so I updated my `generate_meta.smk` to [fix that](https://gist.github.com/pwl/b4b07d3069eeb807d8084c88755fe058#file-generate_meta-smk-L35-L48).  Perhaps that's the source of the issue?

[2018-02-12 19:14] Hoohm commented on #20
Yes, if you look at the sample1_final.txt in the headers, all your reads are tagged as XF:Z:INTERGENIC. Those are not counted as mapped to genes.

I'm pretty sure this is related to the modification of the refFlat file. Which genome and annotation files are you using?

[2018-02-12 21:12] pwl commented on #20
I'm using the first gtf file from [GENCODE](https://www.gencodegenes.org/releases/current.html), the "Comprehensive gene annotation" one for "CHR" regions.

EDIT: and for the genome I'm using the "Transcript sequences" from the same page.

[2018-02-13 10:00] Hoohm commented on #20
Hi @pwl
I think your issue comes from the transcripts.fa
You should use Genome sequence (GRCh38.p10). I'm actually puzzled as to how it didn't throw an error (mine did) when using the transcripts.fa.
Using the genome sequence, the refflat is not empty.
Can you try again?

[2018-02-13 10:21] pwl commented on #20
I'll try it, thanks.  I also just realized that there are reference files (including `.fa` and `.gtf` files) on the drop-seq webpage in the "Data resources" section, I just haven't found them before and tried to use ones from GENCODE.

[2018-02-13 10:24] Hoohm commented on #20
Do you have a mixed experiment? Mouse/human or only human?
I'm using [those](https://www.ensembl.org/info/data/ftp/index.html)
DNA and gene sets GTF file

[2018-02-13 13:06] pwl commented on #20
I tried it with the genome sequence `GRCh38.p10` and it worked perfectly!  Thank you!

[2018-02-13 13:06] #20 closed, assigned to nobody

[2018-02-13 14:19] seb-mueller commented on #19
This looks like Next-Seq generated data. In my opinion it is to best pool those independently followinging the Unix philosophy (do one thing and do it well). But that's just my opinion.

As for your example. In fact, if you have control over sequencing process, you can pool do this automatically in the bcl conversion step using [bcl2fastq](https://support.illumina.com/sequencing/sequencing_softwar

[2018-02-13 14:49] pwl commented on #19
I'm already merging the files like so
[code]
and no, I've got no control on how the reads are pooled.

I agree with you, perhaps that sort of pooling should best be left for the user, as there are many possible naming conventions and ways to marge this data.  Thansk again for a comment!

[2018-02-13 14:49] #19 closed, assigned to nobody

[2018-02-13 16:54] pwl commented on #19
By the way, I just stumbled onto this post: https://stackoverflow.com/a/26739957.  Looks like you can simply concatenate gzip files, which is waaay faster then unpacking, concatenating and compressing them.  So now I simply do
[code]

It's orders of magnitude faster, and basically purely IO bound.

EDIT: I forgot the `sort` and added brackets around `sample`.

[2018-02-13 17:31] seb-mueller commented on #19
I think this has been discussed a lot and just concatenating would indeed save a lot of effort. However, I remember having seen reports of not all programs coping with this properly, could only pull out [this](https://lists.gnu.org/archive/html/parallel/2011-11/msg00004.html) quickly.
Maybe this has changed, I'd love to see an actual test to prove this is sufficient (which might well be true). I g

[2018-02-13 21:52] Hoohm commented on #19
I was gonna say the same thing, just cat the files, although be careful of the order!

[2018-02-14 16:51] pwl commented on #19
I'm happy to report that dropSeqPipe works just fine with concatenated gzip files.

[2018-02-15 13:01] pwl commented on #17
Thanks for all the help, I think I can close this issue now.

[2018-02-15 13:01] #17 closed, assigned to nobody

[2018-02-22 09:04] jenzopr opened #21 "Anatomy of fasta/gtf files in mixed species experiment"
Dear Patrick,

thanks for providing dropSeqPipe as a Snakemake workflow. It made it very easy for me to install the pipeline and get it running.

I have a question regarding how the fasta and gtf files should look like in case of mixed species experiments.
From what I see in the code, I guessed that the fasta should look like this:
[code]
Is this correct? How should the GTF look? Maybe you can giv

[2018-02-22 09:34] Hoohm commented on #21
Hello @jenzopr ,
I'd advise using the files found in the "Data resources" on this page as a template.
http://mccarrolllab.com/dropseq/

Here is a quick example of the files:

gtf
[code]
fasta reference
[code]

My guess is that they basically concatenated both reference in the fasta file changing the name to HUMAN_1 and MOUSE_1 giving those reference names in the gtf file as the first column.

If y

[2018-02-22 13:05] jenzopr commented on #21
Hi Patrick,

I wrote a quick python program to join genomes and annotations from arbitrary numbers of species:
https://gist.github.com/jenzopr/f829702bfa045f410ae07d3ce5e140e8

Feel free to check it out and include it in the pipeline.
Best,
Jens

Edit: Can't try it out at the moment, because our data is still missing ;-)

[2018-02-22 13:29] #21 closed, assigned to nobody

[2018-02-22 14:15] Hoohm commented on #21
@jenzopr Great! Thanks, I'll test it out next week!

[2018-02-27 10:23] jenzopr opened #22 "TagBamWithReadSequenceExtended: ArrayIndexOutOfBoundsException: 10"
Hi Patrick,

we finally have our first dropSeq data sequenced and I tried to run in through the dropSeqPipe.
Unfortunately, TagBamWithReadSequenceExtended terminates after a short while giving:

[code]

I assume that my fastq/bam is at some place malformed (e.g. an R1 read is too short), although I can't imagine. Is there any debug flag I can place to get more hints about what fails? Or can you qu

[2018-02-27 10:32] Hoohm commented on #22
Can you check the index values of your cell and UMI barcodes?

Your assumption is right, there is a problem with read1. I'm not sure what
though.

how long is your read1? Are they all the same length? Did you run a
trimming algo on read1?

Maybe check out your fastqc on read1.

The code is in the public folder in dropseqtools

private int scoreBaseQuality(final SAMRecord barcodedRead, final
List<B

[2018-02-27 11:59] jenzopr commented on #22
We identified `bcl2fastq` to be causing problems when giving a Nextera adapter sequence to trim away. It will also trim R1 reads, so our R1 read length distribution is highly variable:

[code]

Filtering reads shorter than 20 bp before putting it into dropSeqPipe helped.
Thanks for your help!

[2018-02-27 11:59] #22 closed, assigned to nobody

[2018-02-27 13:56] Hoohm commented on #22
Sure no problem. Quick question, once you filtered out the reads from R1 with less than 20bp, how do you reconcile it with R2?

[2018-03-08 18:32] seb-mueller commented on #18
Hi @Hoohm, I've finally found some time extend the knee plot.

It's basically adding more panel to visually guide a manual selection by suggesting possible cutt-offs based on the maximum of the 2nd derivative (loess smoothed) of the reads-count for each barcode.
That's basically what I've gathered to be most robust from various sources. It should be rather obvious from looking at the plot and the

[2018-03-09 09:19] Hoohm commented on #18
This looks cool!
I'll try it on my SCBR-seq data. It should find exactly 96 cells and post it.

I'm planning a few more things and might publish the pipeline in the future. So if you want to join in, this could be a good contribution. (this is what you meant by PR?)

[2018-03-09 09:38] seb-mueller commented on #18
Glad you like it!
It's might still have a few glitches and might not be the best approach but seems to be a decent path to go done having done some reading.

I'd be happy to be on board and in fact was planing to extend a few more things such as a violine plot and some sort of bead saturation etc.. If you want to discuss, best to use email or so, my details are [here](https://www.plantsci.cam.ac.u

[2018-03-13 19:46] olechnwin opened #23 "InputFunctionException in line 5 /rules/map.smk"
Hi,

I cannot figure out how to fix this error:

InputFunctionException in line 5 of /rules/map.smk:
KeyError: 'the label [sample1_N706_S2_L001_MOUSE] is not in the [index]'
Wildcards:
sample=sample1_N706_S2_L001_MOUSE

I've ran snakemake  --cores 12 qc filter map and it ran to completion.
Then, the above error happen when running: snakemake --cores 12 split_species extract_species

here is my con

[2018-03-13 20:48] Hoohm commented on #23
Hello @olechnwin
This is a known bug and I'm working on it.
I have a testing fix. Can you try to add those lines to the `Snakefile` file:
[code]

Tell me if it works

[2018-03-14 18:04] olechnwin commented on #23
Hi @Hoohm
Where should I put those lines? under rule split_species?

update:
looks like the above fix works when I put it below read_lengths line.

[2018-03-14 19:40] olechnwin opened #24 "Error opening file: hg19_mm10_transgenes.rRNA.intervals"
Hi,

I have another error:
xception in thread "main" htsjdk.samtools.SAMException: Error opening file: /opt/dropSeqPipe/ref/hg19_mm10_transgenes.rRNA.intervals

This seems to be a new feature of Drop-seq 1.13. Can you please let me know how to fix this? Also, what does this do?

Thanks!

[2018-03-16 09:42] Hoohm commented on #23
@olechnwin Great news!

This will be added in the next release.
Can this issue be closed?

[2018-03-16 09:43] Hoohm commented on #24
Could you please provide more context. I don't see where the error comes from.

Which step is this?
Are you using the reference of the McCarroll lab or did you make your own?

[2018-03-16 13:16] olechnwin commented on #24
Sorry here it is. Hard for me to tell since I'm doing multi core, but I am guessing it's the singleCellRnaSeqMetricsCollector? The rRNA.intervals file was never created. I am using the reference of the McCarroll lab.
[code]

[2018-03-16 13:25] Hoohm commented on #24
Yes, that is the problem is here: https://github.com/Hoohm/dropSeqPipe/blob/1fe59178579ec373c5224001d0faf9ce055c5308/rules/extract_expression_species.smk#L60

This should be in input instead of params so that it would create it.
What you can do is simply run `meta` once and it will create it. It will run after that.

This is fixed in the next version.

[2018-03-16 13:27] olechnwin commented on #24
Sorry. can you please clarify? What does that mean to run meta?
Never mind. Got it. Going to run it now.

[2018-03-16 13:27] #23 closed, assigned to nobody

[2018-03-16 13:31] Hoohm commented on #24
Sure.
When you run the pipeline you can run different steps separately.
so running: `snakemake meta` will run the meta data creation as one thing. This will create the missing files you need.

[2018-03-16 17:43] olechnwin commented on #24
Thank you for all your help. That fix the error. Closing this issue.

[2018-03-16 17:43] #24 closed, assigned to nobody

[2018-03-16 17:52] olechnwin opened #25 "advice on knee plot"
Although this is not issue on running dropSeq pipeline, however, since the wiki has explanation for the knee plot, I thought I'll post it here in hope of getting advice.

This is the second run of DropSeq that we've analyzed and both times my knee plots never show a clear bend (see attached).
[knee_plot.pdf](https://github.com/Hoohm/dropSeqPipe/files/1820280/knee_plot.pdf)
What is your advice for

[2018-03-16 18:40] olechnwin opened #26 "questions on wiki plots"
Hi I have several questions on the wiki plots:

1. On the cell barcode and UMI quality trim plots, what is the tagged x reads means? what is x? At first I thought x is the total number of reads in the sample. However, mine has a different number.
It would be nice to show percentage as well.
3. The polyA trimming of reads, x axis are the length of reads after polyA is trimmed or the length of polyA

[2018-03-19 10:18] Hoohm commented on #25
Hello @olechnwin
From my experience the knee plot is just "bad" for true STAMP selection.

For now I just leave this as is and propose people to use other selection methods that rely more on metadata variables [see example](https://bioinformatics.stackexchange.com/questions/3232/improve-scrna-seq-dataset-for-further-analysis/3258#3258) than "simple" counts statistics.

I can suggest you a good rea

[2018-03-19 12:33] seb-mueller commented on #25
Further to what Patrick has said, we were in fact discussing something similar in issue #18 (especially towards the end).
I've implemented a slightly more informative knee-plot on this [branch](https://github.com/seb-mueller/dropSeqPipe/tree/seb03). If you are keen you are welcome to try it out, I'd be curious on any feedback.

[2018-03-19 13:13] Hoohm commented on #26
@olechnwin

1) X is the number of bases in the UMI/cell barcode that are under the threshold. The plot `BC_drop.pdf` gives you the percentage of trimmed reads based on those thresholds.

2) X is the length of the polyA that has been trimmed and y, how many times this length has been trimmed. This is probably not the most useful, but if you see really high numbers of a certain length being trimmed

[2018-03-19 14:39] olechnwin commented on #26
Thanks for your clarification. Very helpful. I have some more clarification questions:

1. That means the 99,802 (in the wiki) is the sum of the area under the red bars? i.e. the total number of bases that are dropped?

2. Our total reads uniquely mapped by STAR is ~ 7.9M. As you can see in the attached file, there are more than 100k polyA with length 71 trimmed. Does this mean problem from wetlab

[2018-03-19 14:43] olechnwin commented on #25
Thank you @Hoohm  for your response. I'll try the selections that you suggested in stackexchange.
@seb-mueller, thanks for letting me know. I'll let you know my feedback after I tried your knee-plot.

[2018-03-19 14:58] Hoohm commented on #26
1) Yes, you are close the to the reality. There is one difference between tagged and dropped. You have some barcodes where the UMI and the cell barcode are going to be tagged. Those are of course dropped. The 99,802 will be the sum of reads where the cell barcode is tagged + the reads where the UMI AND the cell barcode are tagged. I should change the legend to make it consistent. The individual pl

[2018-03-19 15:05] olechnwin opened #27 "high % mixed species?"
Apologize for posting all these questions if I'm not supposed to. I found I have more useful answers/responses by posting in this github rather than the group.

I am attaching our mixed species plot. As you can see there are about 21% mixed species. I used the default 80% purity threshold. I know in the wiki plot, the mixed species is about 15%. In one of the post in dropseq google group, Evan men

[2018-03-19 15:41] Hoohm commented on #27
@olechnwin
The main purpose of the `issues` tab is there for issues related to the code and the usage of the pipeline. Although it is not yet clearly stated where result linked question should be added, it will be in the future.

The next iteration (post 0.31) will propose a way to upload/share those plots as well as integrate a short README illustrating the protocol. If you are interested to help

[2018-03-19 16:30] olechnwin commented on #27
@Hoohm, that's what I thought. Thanks for confirming the high doublet cells. That's somehow useful. I wished the google group is more responsive.

[2018-03-19 16:30] #27 closed, assigned to nobody

[2018-03-19 16:34] Hoohm commented on #27
@olechnwin I hope the new platform will provide the community with a lot of hints and answers :)

[2018-03-21 10:00] Hoohm commented on #1
No response so I'll close the issue.

[2018-03-21 10:00] #1 closed, assigned to nobody

[2018-04-06 02:14] ravipatel4 opened #28 "Rerunning "extract" step"
Hello,

I am having trouble rerunning "extract" step successfully.
The description of knee plot on the "Plot" page suggests to rerun the "extract" step after changing the expected_cells parameter in samples.csv, if the clear bend of the curve is higher than the expected_cell parameter. I tried the following command for this after increasing the expected_cells parameter.
snakemake --cores 8 extract

[2018-04-06 09:36] Hoohm commented on #28
Hello @ravipatel4 !
I haven't added this on the wiki yet but it can be found on the snakemake [FAQ](http://snakemake.readthedocs.io/en/stable/project_info/faq.html?highlight=--list-params)

The easy way I am doing it, is by simply deleting the files I know will be impacted and rerunning the step.

However, this requires some specific knowledge of the rules involved, etc...
For your example, you ha

[2018-04-06 15:42] ravipatel4 commented on #28
Thank you @Hoohm for the detailed description.

I followed your instructions for the "easy" way of rerunning extract step. I deleted the files you mentioned and reran the extract step as `snakemake --cores 30 extract --use-conda`
The command ran fine. However, it created only `logs/{sample}_umi_per_gene.tsv` files. How do I get the other deleted files. Did I miss anything?

Thank you.

[2018-04-06 15:49] ravipatel4 commented on #28
I extracted following command from the verbose output of my full run of the pipeline:
`java -Xmx4g -Djava.io.tmpdir=/tmp/ -jar /sources/drop-seq-tools/Drop-seq_tools-1.13/jar/dropseq.jar DigitalExpression I=data/smpl_final.bam O=summary/smpl_counts_expression_matrix.tsv EDIT_DISTANCE=1 OUTPUT_READS_INSTEAD=true NUM_CORE_BARCODES=500 MIN_BC_READ_THRESHOLD=1`
I believe running this command alone (af

[2018-04-07 15:31] Hoohm commented on #28
Oh, sorry, I made a mistake. You need to delete also the final expected files.
[code]

If you delete those, it should be fine

[2018-04-11 13:35] Hoohm opened #29 "Problem on macosx with cut"
This line doesn't work on macosx. 1 has to be 2 instead.

https://github.com/Hoohm/dropSeqPipe/blob/161572831c748f45504c4e21c117d6aca554a5b6/rules/generate_meta.smk#L79

[2018-04-23 12:49] dylkot opened #30 "Specification for GTF file"
Hi There, thanks for putting all of this together!

I am just putting a few comments together as I seek to run this pipeline on a Rhesus Macaque sample. I'm downloading the GTF from ENSEMBL:
ftp://ftp.ensembl.org/pub/release-92/gtf/macaca_mulatta

Initially this file didn't include a gene_name in the attribute column. This was leading to a NullPointerException in org.broadinstitute.dropseqrna.anno

[2018-04-27 15:59] Hoohm commented on #30
Hey !
Glad you enjoy the tool.
I've had another user having similar issue with arabidopsis annotation.

It would be nice to have some safety checks to deal with those issues.
Have you finally managed to fix this problem?
If yes, would share what you have done so that we can integrate it?

On Mon, Apr 23, 2018, 14:50 Dylan Kotliar <notifications@github.com> wrote:

[2018-05-02 12:16] dylkot commented on #30
Hi. Yep, I fixed it by manually appending gene_name and transcript_name entries to the rows that were missing them in the GTF. I simply used the gene_id and transcript_id for those that were lacking them. I then found that gene_name (which is used by the pipeline as the gene identifier) was not unique in the Macaque annotation. So I overwrote the gene_name entry in the attribute column in the form

[2018-05-10 16:20] megara23 opened #32 "dropSeqPipe Installation Error"
I was trying to install dropSeqPipe using the instructions provided at https://github.com/Hoohm/dropSeqPipe/wiki/Installation , and everything went smoothly until I got to the last step.  When I tried to run the command `conda env create --file environment.yaml`, I got the following result:

`bash-4.1$ conda env create --file environment.yaml`
`Solving environment: failed`

`ResolvePackageNotFound

[2018-05-10 16:26] Hoohm commented on #32
Hey! I also stumble upon this issue.

I will change the way the installation of snakemake is done soon in the wiki.
In the meantime, I would advise you to install snakemake with this command:

    conda install -c bioconda -c conda-forge snakemake

You won't need ti activate the environment either.
Let me know if it works

[2018-05-10 17:05] megara23 commented on #32
I tried both that command and `conda install -c bioconda -c conda-forge snakemake=4.8.0`, and the results were the same (it is still saying that snakemake 4.8.0 is not there).

[2018-05-10 17:51] Hoohm commented on #32
That is really strange because I just tried and it worked. did you specifically copy the command I gave you?
I've seen that if you don't have -c bioconda and -c conda-forge it doesn't work.

[2018-05-10 18:03] megara23 commented on #32
Yes I copied it since I did not want to mis-type anything.

I should clarify that the installation of snakemake itself was fine when I tried both commands, but when I went back to run the `conda env create --file environment.yaml` command it got the same results (despite me installing snakemake).

[2018-05-10 18:08] Hoohm commented on #32
Oh yeah, you don't need to use the conda create env anymore.
Once snakemake is installed, the --use-conda will take care of the envs for all the rules

[2018-05-16 07:56] ysbioinfo opened #33 "Confusions about the 5' smart adapter and Trimmomatic adapter files"
Hi,
Thanks for developing such a convenient and user friendly tools! I am analyzing some drop-seq data now and want to use dropSeqPipe to do prephase analysis. I'm not so familiar with drop-seq and have some questions about this pipeline:
1. what does 5' SMART adapter mean? I read the original paper of Drop-seq by Macosko EZ and noted there are two "adapters" after the formation of STAMPs. One is

[2018-05-16 13:29] ysbioinfo commented on #33
I am also not clear about the meaning of those two parameters: UMI-edit-distance and min-count-per-umi. If I set the UMI-edit-distance to 1, does it mean that for a gene, two UMIs with only one different base will be considered as 1 transcript? If I set the min-count-per-umi to 2, does it mean that for a gene, if there is a unique UMI with only one supporting read, it will not be considered as a t

[2018-05-21 17:21] Hoohm commented on #28
Hello @ravipatel4
Did it help you rerun the extract?

[2018-05-21 17:33] Hoohm commented on #32
The pipeline and the wiki have been changed accordingly.
Is it now fixed for you?

[2018-05-21 17:53] Hoohm commented on #33
Hello @snoopy-448
sorry for the late response, I've been really busy.

There are a lot of questions here, I will change the wiki to add the answers you're looking for.
For a quick and dirty response:

1. The SMART adapter is the SMARTseq primer. You can find it in the documentation [here](http://mccarrolllab.com/download/905/). TrimStartingSequence will try to trim this in the second read (mRNA re

[2018-05-21 21:49] ravipatel4 commented on #28
Hello @Hoohm,

I think it worked. But I ended up using the following command after changing the number of cells to what I want the expression data for, and it looked like working how I wanted it to.
`java -Xmx4g -Djava.io.tmpdir=/tmp/ -jar /sources/drop-seq-tools/Drop-seq_tools-1.13/jar/dropseq.jar DigitalExpression I=data/smpl_final.bam O=summary/smpl_counts_expression_matrix.tsv EDIT_DISTANCE=1

[2018-05-22 12:36] Hoohm commented on #28
Ok! I'll close this then

[2018-05-22 12:36] #28 closed, assigned to nobody

[2018-05-22 21:52] megara23 commented on #32
Yes, thank you very much!

[2018-05-22 21:52] #32 closed, assigned to nobody

[2018-05-22 22:57] KaiWu-Umich opened #34 "Error in creating annotation.refFlat"
Hi there.
Thanks a lot for building up this wonderful package which greatly helped biologist with limited basis for coding like me.

I am trying to run my first test sample, but I met this error:

I downloaded GTF from Ensembl and re-named as annotation.gtf as required. I am not sure what exactly caused this error nor how to troubleshoot it. Could you please help me with this issue?

Thanks a mill

[2018-05-23 04:58] ysbioinfo commented on #33
Got it! thanks!

[2018-05-31 12:01] colindaven commented on #12
Identifiers would be great. These are necessary for pathway analysis, eg. in the R/Shiny Single Cell Toolkit.

[2018-06-01 07:46] colindaven opened #35 "Cell barcode too short error: trimming ?"
Hi,

this looks to me like I am trying to pick up a cell barcode of 12bp, but the read is shorter than 12bp (possibly due to quality trimming?). At least I see very short reads in the `unmapped.bam` file.

Does it make sense for drop-seq-pipe to check the length of the sequence to be tagged and avoid any errors with a try catch block, and further to exclude these sequences ?

We're talking a NextS

[2018-06-02 08:56] Hoohm commented on #35
Hello @colindaven
Your R1 should be consistent in terms of length. It's either full (meaning 20?) or nothing.
The reason for that is the way cell barcode and UMI are captured.

Basically, the index you give in the config file will be used to get the cell and UMI barcode. If part of the cell + UMI is missing, it will crash.

I would delete all pair of reads that have a non full length R1. You could

[2018-06-02 09:25] Hoohm commented on #34
Hello @KaiWu-Umich
I would need the error message from the tool and not the one from snakemake.

What species are you using? There are some known issues with arabidopsis.

[2018-06-02 11:10] colindaven commented on #35
Hi @Hoohm

that's really helpful. Thanks. I have lots of other seq lengths in my R1 actually, from 1-20 bp.

For others having this problem, here's a solution to filter by length then repair the pairs:

filter to length 20bp
`seqtk seq -L 20 A1_03_S2_R1.fastq.gz > A1_03_S2_2_R1.fastq &`

repair the read pairs. repair.sh - from bbmap

`repair.sh -Xmx400g in=A1_03_S2_2_R1.fastq in2=A1_03_S2_2_R2.fas

[2018-06-08 19:53] Hoohm commented on #29
Bug was fixed

[2018-06-08 19:53] #29 closed, assigned to Hoohm

[2018-06-12 18:43] pwl commented on #32
Sorry for piggybacking onto a closed thread but I was wandering if there is a way to pre-install all the conda environments before actually running the pipeline with `snakemake --use-conda`.  I made a docker image with dropSeqPipe and I need to install all the software necessary to run the pipeline before having access to the actual data.

[2018-06-12 18:54] Hoohm commented on #32
Hey,

installing all the dependencies before is doable except I don't know how it will deal with the wrapped rules (ex. STAR).

What you would need to do is create a environment.yaml file with all the dependencies. Those in the envs folder and then the ones on the repos for the wrappers.

Although I would not recommend that since it's definitely not designed for that.
You should also take a look a

[2018-06-12 21:00] pwl commented on #32
Thanks for the suggestion.  I simply merged the yaml files by hand into an `environment.yaml` and I built a conda environment from that, which I then activate before running the pipeline, now running snakemake does not install any additional packages.  It's a hacky solution but it'll have to do for now.

As for your question, we dockerize most of our pipelines anyway so I wanted to be consistent a

[2018-06-14 10:03] colindaven opened #36 "Question: should this be fastx, no fatsx ?"
rules/map.smk

17 | 'data/{sample}/Log.final.out'
-- | --
18 | params:
19 | extra="""--outReadsUnmapped Fatsx\
20 | --outFilterMismatchNmax {}\

[2018-06-14 10:12] Hoohm commented on #36
Hello @colindaven

You are totally right! That might explain why it didn't work.
I didn't look more into it at the time and forgot I wanted to implement that.
Nice catch, thanks :)

[2018-06-14 10:17] #36 closed, assigned to nobody

[2018-06-14 11:49] colindaven commented on #36
Nice, glad I could help. Thanks for the pipeline, it's very useful so far.

[2018-06-14 11:56] Hoohm commented on #36
Glad it helps out :)
If you're missing any features, don't hesitate to make an issue or propose a pull request

[2018-06-29 11:18] seb-mueller opened #37 "Number of Genes/Transcripts wrong in species_plots"
I have noticed unusual high numbers of genes in the `*species_plot_genes.pdf` files and wondering if others have the same behaviour?
After some debugging I suspect this line to be the culprit:

https://github.com/Hoohm/dropSeqPipe/blob/0fbca71d17458d87026d21b2f11ab071073ff0d8/scripts/plot_species_plot.R#L82

It reads in for example ths dge file: `summary/HUMAN/mysample_dge.summary.txt"` which is s

[2018-07-02 13:03] #37 closed, assigned to nobody

[2018-07-17 23:58] terooatt opened #40 "Pipeline stops when it start making R plots"
Hi,

Dropseqpipe worked well for me couple months ago but recently after I have updated it it keeps on stoping when it starts using the Rscripts. It looks like some conda environments are incompatible with some R libraries such ggplot2, I think. Anyways here is the error I get, can you help. Thank you very much.

localrule plot_BC_drop:
    input: logs/Human_mouse_0.25M_CELL_barcode.txt, logs/Huma

[2018-07-18 02:12] Hoohm commented on #40
Hello.
Thanks for the report.
I actually updated the env for ggplot2 a couple of hours ago.
Try it with the new one.
I think it came with the ggplo2 3.0 update.
Now ggplot2 is fixed and I've added the missing fortranlib.

To be in the safe side, I would delete the plot env so that it downloads it
from scratch.

If you still have issues after the update, could you please add the
logfiles that show

[2018-07-18 21:08] terooatt commented on #40
Ok great, it worked. Thanks a lot.

[2018-07-18 21:08] #40 closed, assigned to nobody

[2018-08-09 12:02] AskPascal opened #42 "SureCell / ddSeq support"
Hej,

I just got some data, generated with SureCell libraries on a ddSeq machine (i.e. the protocol by Illumina and Bio-Rad). I would like to test your pipeline for the analysis but I'm not sure if it can be used and if so how to fill the `config.yaml`.
Barcodes are in Read 1, however, they are not at a fixed position, and the cell barcode is split into three parts by spacer sequences:

![single-c

[2018-08-09 14:04] Hoohm commented on #42
Hello @pascal-git

As of now, it is definitely not compatible. The split barcode pattern is not the big issue here, you could give those positional arguments in and it should work. Although I haven't tried it.

The main issue is the shift in base on the first read.

Right now the barcodes are picked by given position of the bases in R1, so it can't be shifted. One way to overcome this would be to

[2018-08-10 07:33] AskPascal commented on #42
Hej @Hoohm

No, I am also still wondering what would be better with this approach than the 10x way. To not have all barcodes at the same position might hedge for systemic biases in sequencing maybe? Or its just a intellectual property thing...

Thanks for clarifying what the problem would be to get the data into dropSeqPipe and how to potentially solve it. umi-tools for sure looks interesting. I f

[2018-08-10 15:40] Hoohm commented on #42
Hey @pascal-git
I've come up with a small script that should be able to handle funky barcode structures.

You can check it out [here](https://gist.github.com/Hoohm/ddf7754b1eed8ccf2c556b7969799c3a )

I'm working on a new version of dropSeqPipe (see develop branch) which is going to use cutadapt instead of trimmomatic. The main reason was to add adapter presence in R1 and R2 instead of just R2 trim

[2018-08-13 08:05] AskPascal commented on #42
Hej @Hoohm

This is really interesting. I'll keep my eyes open for the new version then!

[2018-08-14 12:29] seb-mueller opened #44 "Error on split_species rule for shipped test data"
Not sure if this is due to my setup, but I'm getting regularly an error on the split_species rule.

To make it reproducible, I've tried it on the shipped data in `.test`:

Running the following in the .test folder of a freshly cloned (including submodules) repository:
[code]
Gives the following

[code]

Does this work for you?
Note, the map and filter rules etc. work just fine.

I suspect this is

[2018-08-14 14:20] Hoohm commented on #44
Yeah that's probably the problem. I thought of adding other combination of test/refs to the repo. The idea would be to run all possibilities to test the pipeline properly for all cases.

- Simple run
- Double species
- Simple run with barcode whitelist
- Double reference with barcode whitelist

[2018-08-14 15:22] seb-mueller commented on #44
Agreed. I suspect it is easy to modify the reference genome to account for 2 species.
Either append chr19 from mouse (plus renaming), or just split it in half with the second half being "mouse" genome to save space (but loose scientific accuracy which is fine for technical testing)

[2018-08-14 15:58] Hoohm commented on #44
I think it's a bit more complicated because of the gtf file.

Maybe we should start with a dual reference and use only this for all cases.

[2018-08-28 07:31] colindaven opened #45 "Modern August 2018 conda - issues"
As you probably know, conda has changed a lot recently.

[code]

I experienced this error : which conda
conda could not be found

After entering the following within the conda env, the pipeline can find conda again. I.e. conda does not seem to be installed by default within a conda env, at least for me.

`conda install conda`

[2018-08-28 15:52] Hoohm commented on #45
Hey @colindaven
I've never experienced this before.
Although, I don't use the "activation" of env anymore since Snakemake does that for each rule now.

Good tip though might help people with a similar issue :)

can I close it?

[2018-08-29 06:54] #45 closed, assigned to nobody

[2018-09-11 14:06] P4sm opened #47 "R figure plotting error"
When I run the filter mode, I get this error:

[code]

It seems like the function "plot_start_trim.R" fails, because the input file it's trying to read has no lines. It's possible that the data I've got are adapter-free, at least I didn't see any traces of adapters in MultiQC. Can I somehow skip this step or do you have any other suggestions on how to deal with this?

[2018-09-11 14:30] P4sm commented on #47
This log file looks peculiar

[code]

This looks more normal, except that I don't understand what the summary tells:

[code]

[2018-09-12 09:09] P4sm commented on #47
I think this happened, because I tried to run the pipeline without defining the adapters... I found the information and now I didn't get the same error

[2018-09-12 09:09] #47 closed, assigned to nobody

[2018-10-01 09:05] Hofphi opened #48 "Exception in thread "main" picard.PicardException: In paired mode, read name 1 does not match read name 2"
Hi there,
thanks for this nice package and the good documentation. I was trying to run the first analysis with dropSeqPipe but encountered an error that lead to abruption of the pipeline.

The Snakemake error output is the following:

'Exception in thread "main" picard.PicardException: In paired mode, read name 1 (NB501971:102:HC355BGX5:1:11101:15471:1050) does not match read name 2 (NB501971:102:

[2018-10-02 08:04] Hoohm commented on #48
Hello @Hofphi

I'm glad you enjoy the pipeline :)

From what I gather, you have a mismatch between R1 and R2.

If I had to guess, there was a filtering step on your data before running dropSeqPipe.
This means you have some reads from R1 missing in R2 (or vice-versa).

I have three solutions for you.
1) Go back to the rawer data and run with that.
2) use the develop branch of dropSeqPipe. Only work

[2018-10-05 08:01] grst opened #49 "'repair' rule: too many threads declared?"
the `'threads': 28` in the `repair` rule from the develop branch made the entire pipeline run sequentially.
The rule appears by far not to use the 28 threads (rather 2-6 on average).

Maybe adjust that.

[2018-10-05 09:24] Hoohm commented on #49
Thanks for the catch :+1:

[2018-10-05 09:56] grst commented on #49
Actually, the same applies for star_map...
For me it turned out to be a lot more efficient to run star with only 8
threads each.

On Fri, 5 Oct 2018 at 11:24 Patrick Roelli <notifications@github.com> wrote:

[2018-10-08 08:19] Hoohm commented on #49
That is something that I have noticed sometimes on local servers. Although that seemed to be reversed when using clusters.

[2018-10-09 08:06] grst opened #52 "The merge_single_counts.R step takes 60GB memory each and runs now for >30h."
Ist that normal behaviour?

[2018-10-09 11:30] Hoohm commented on #52
Hey! I've noticed this happening sometimes. A major problem is the merge function in R. It's basically a full outer join but badly coded. Works well for low dimensions, bad with high ones and high number of samples.

One major update that is needed for dropSeqPipe is to convert all full matrices to parse ones and write to disk as [mtx format](https://math.nist.gov/MatrixMarket/formats.html).

This

[2018-10-09 11:31] Hoohm commented on #48
Hello @Hofphi
I haven't heard back from you. Did you find the problem?

[2018-10-09 11:34] Hoohm commented on #33
Closing this, feel free to reopen if needed

[2018-10-09 11:34] #33 closed, assigned to nobody

[2018-10-09 11:53] Hofphi commented on #48
Hello @Hoohm,

I have some problems with the server cluster right now and couldn't run the pipeline yet but I think my problem occurred when I concatenated the files raw sequencing data. We sequence on a illuminati device and get four digital lanes four the paired end reads, so four for R1 and four for R2. I must have concatenated them in the wrong order or something.
I will give you an update as

[2018-10-11 11:09] seb-mueller opened #53 "Changing UMI-edit-distance has seemingly no effect"
Hi Patrick,

Trying to play around the impact of varying the Edit (Hamming) distance I've run the same data set with different  `UMI-edit-distance` settings in the `config.yaml`.
Not sure what to expect really I was still surprised that non of the cell-barcode counts have changed in the `*.dge.summary.txt` files.
Since the Edit distance is passed on to drop-seq tools and to exclude any problems wi

[2018-10-11 11:53] cgirardot opened #54 "violin plot execution fails"
Hi,

When the violin plot job is about to be launched, I got:
[code]

Sorry for not doing a PR, but the quick fix is to add the following in the cluster.yaml
[code]

do you mind adding this in the repo?

Thx

[2018-10-11 13:01] seb-mueller commented on #53
Just realized that my whole assumption was based on the Hamming distance of barcodes, which I subconsciously assumed, however clearly `UMI-edit-distance` refers to UMIs obviously. My bad, sorry for the confustion.

However, having done all this test, it's still strange that the `NUM_GENES` didn't change wheres `NUM_TRANSCRIPT` more than halved going from 0 to 3 (see above).

I'll still this issue

[2018-10-12 10:17] Hoohm commented on #54
I've seen it crawl up sometimes with rules I actually don't want to run on the nodes.
I'd rather have this rule added to the localerules in the header since it's pretty low in cpu and memory usage.

[2018-10-24 09:58] Hofphi commented on #48
Hello @Hoohm
definitely did something wrong when I concatenated the raw sequencing data. I generated a new joined-file and then everything was working

[2018-10-24 11:17] #48 closed, assigned to nobody

[2018-11-09 14:52] #35 closed, assigned to nobody

[2018-11-09 14:52] #18 closed, assigned to seb-mueller

[2018-11-09 14:53] #25 closed, assigned to seb-mueller

[2018-11-09 14:53] #26 closed, assigned to Hoohm

[2018-11-09 14:54] #49 closed, assigned to nobody

[2018-11-15 07:12] Jun-Lizst opened #60 "Do these two parameter in config.yaml file needed to fill?"
UMI-edit-distance This is the maximum manhattan distance between two UMI barcode when extracting count matrices.
min-count-per-umi is the minimum UMI/Gene pair needed to be counted as one.

[2018-11-16 01:05] Jun-Lizst opened #61 "I have issue on STAR running part. help!!!"
It will generate some big index files when running snakemake map. How can I direct the index directory to snakemake,since I have build up the index on my own.

[2018-11-16 02:03] Jun-Lizst opened #62 "I can not find the jar directory! help!!!"
Error: Unable to access jarfile /home/u2510/ncbi/public/sra/dropSeqPipe-0.31/jar/dropseq.jar

[2018-11-16 11:28] Hoohm commented on #61
@Jun-NIBS As long as you store it where it's expected, the pipeline should recognize and use it.
Although, I would not recommend doing this. It's probably going to lead to small issues that are annoying to fix whereas just rerunning it through the pipeline will work automatically.

[2018-11-16 11:30] Hoohm commented on #62
@Jun-NIBS
You need to give more context to your issues. Just the error is not enough.

* What command did you run?
* Which step is getting this error?
* Is this on a cluster? Do you have sudo access?

[2018-11-16 11:45] Jun-Lizst commented on #61
Thanks for answer.
I’ll try.

Best
Jun

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Patrick Roelli <notifications@github.com>
发送时间: Friday, November 16, 2018 7:28:42 PM
收件人: Hoohm/dropSeqPipe
抄送: Jun; Mention
主题: Re: [Hoohm/dropSeqPipe] I have issue on STAR running part. help!!! (#61)

@Jun-NIBS<https://github.com/Jun-NIBS> As long as

[2018-11-17 01:29] Jun-Lizst commented on #24
I continue to encounter this problem. please give some suggestion:
u2510@GenekServer-0:~/ncbi/public/sra/dropSeqPipe-0.31$ snakemake --cores 8 extract --use-conda --directory /home/u2510/ncbi/public/sra/dropSeqPipe-0.31/dropSeqPipe_mydata
Building DAG of jobs...
Using shell: /bin/bash
Provided cores: 8
Rules claiming more threads will be scaled down.
Job counts:
	count	jobs
	1	SingleCellRnaSeqMetr

[2018-11-17 05:29] Jun-Lizst commented on #62
My another question going to be like this when I run:
snakemake --cores 8 meta --use-conda --directory /home/u2510/ncbi/public/sra/dropSeqPipe-0.31/dropSeqPipe_mydata
Other rules it finished well.
there remain one issue that I try many many times and cannot fix:
[Sat Nov 17 13:18:26 2018]
localrule create_intervals:
    input: /home/u2510/lj/rnaseq/10Xdata/refdata_scRNAseq/refdata-cellranger-mm10-

[2018-11-17 05:30] Jun-Lizst commented on #62
@Hoohm

[2018-11-17 05:35] Jun-Lizst opened #63 "Problem in running generate_meta_.smk in 3.2 version"
![image](https://user-images.githubusercontent.com/36834898/48657557-91029300-ea6d-11e8-881c-46656369609b.png)

[2018-11-17 05:36] Jun-Lizst commented on #63
![image](https://user-images.githubusercontent.com/36834898/48657571-bee7d780-ea6d-11e8-848a-71eb7beb79b2.png)

[2018-11-17 05:36] Jun-Lizst commented on #63
Other jobs run pretty good. but only the creat_intervals failed.

[2018-11-17 05:40] Jun-Lizst commented on #63
![image](https://user-images.githubusercontent.com/36834898/48657608-5d743880-ea6e-11e8-9e25-c00d8843f3ac.png)

[2018-11-24 06:02] Puriney opened #64 "Consider a minimal repeated tutorial"
Could you please consider preparing a minimal repeated example to help the new users better use the pipeline, as *This package is trying to be as user friendly as possible.*

I noticed some issues (#60 #61 #62 #63) are probably from some new users. Hope the minimal example could probably help them identify the technical errors, e.g., environment settings, and access to tools.

[2018-11-24 06:10] Puriney commented on #62
As the author mentioned, you'd better answer the details first to give the developers more clues about what is happening.

In addition, you might reconsider a more friendly and precise title rather than 'abcdxyz, help!!!'. And be wise about using the @ feature in Github as email bombing is not a suggested way to get attention.

Good luck.

[2018-11-27 15:23] Hofphi opened #65 "R package problem, plotting error"
Hey,

I keep having trouble with the same error message. There seems to be a problem during the plotting with R and the "reshape2" package. I already installed all packages and the dependencies and checked if I have the current version but I still keep having the same error! Any suggestions?

Activating conda environment: /scratch/hofphi00/dropSeqPipe/.snakemake/conda/439f0232
Activating conda env

[2018-11-27 15:46] Hoohm commented on #65
Hello @Hofphi

the main reason why installing any package should not resolve the issue is that conda is activating a specific env for each rule.

You can add icu to the `plots.yaml`

[code]
Let me know if that fixed it

[2018-11-27 15:54] seb-mueller commented on #65
Also it looks like your local R install interfere with conda R.
Specifically, it's trying load from your local installation `/home/hofphi00/R/*`.
Do you have any entries in `.Rprofile` or `.Renviron` setting this? You might want to move them elsewhere temporarily to check if that gives the same error.
Also see this issue:
https://github.com/conda-forge/r-base-feedstock/issues/37

[2018-11-28 12:54] Hoohm commented on #64
Hello @Puriney

I agree a small tutorial would be helpful.

There is a major version coming out soon (one or two weeks, see develop branch) which will change quite a bit of functionality and usability of the pipeline. Once this is out, I will provide more information on the docs on how to use it.

[2018-11-28 12:57] Hoohm commented on #30
Hey @dylkot !
I'm working on automating the reference and genome download generation. I'm not familiar with all possible species that people use for single cell and I would greatly appreciate help for specific ones such as Rhesus Macaque.

Would you be able to help integrate this once the new version is out?

[2018-11-28 12:58] Hoohm commented on #34
Closing this for now, feel free to reopen

[2018-11-28 12:58] #34 closed, assigned to nobody

[2018-11-28 13:00] Hoohm commented on #42
As you can see, this is not implemented yet at all.

I sadly I haven't found the time to work on it since this is not some technology we use.

I hope someone could help out on for integrating a universal cell barcode structure module

[2018-11-28 13:01] Hoohm commented on #44
Working on automating the download and metada generation completely with the new version. Will deal with double species cases

[2018-11-28 13:01] Hoohm commented on #52
Fixed on the develop branch. Will be integrated to the next release

[2018-11-28 13:01] #52 closed, assigned to Hoohm

[2018-11-28 13:04] Hofphi commented on #65
Hey,
thanks for your replies.
@Hoohm
I modified the plots.yaml and added the `- icu=58.2` but I still get the same error. I noticed that the error message says `libicui18n.so.57: cannot open shared object file: No such file or directory:`

I checked in this directory `/home/hofphi00/miniconda3/lib` and can only find `libicui18n.so.58` not `libicui18n.so.57`

@seb-mueller
You are right, conda is de

[2018-11-28 13:05] #60 closed, assigned to nobody

[2018-11-28 13:05] #61 closed, assigned to nobody

[2018-11-28 13:05] #62 closed, assigned to nobody

[2018-11-28 13:06] #63 closed, assigned to nobody

[2018-11-28 13:23] Hoohm commented on #65
Try to add the [icu 57](https://anaconda.org/floriangeigl/icu) then.
[code]

[2018-11-28 13:42] seb-mueller commented on #65
The root problem still is incompatible versions between the local and conda packages.
conda-R somehow has to be told to not load local packages.

In R, if you read `help(Startup)`, you might find indications on what is still making R including this in `.libPaths()` other than `~/.Renviron` or `~/.Rprofile`, for example `R_LIBS_USER` or `R_LIBS`.
Could you check if the are set e.g. `echo $R_LIBS` i

[2018-11-28 13:48] dylkot commented on #30
Sure! I'd be happy to help with integration for Rhesus Macaque. By 'new version', are you referring to incorporating Drop-seq tools 2.0? I was just starting to wonder about how I will use that going forward because I would especially like to have quantitation of the intronic reads in my data

[2018-11-28 13:57] seb-mueller commented on #65
@Hoohm . I found it a bit odd this can happen anyway. Ideally, R should be not dependent on any systems settings/environments. I couldn't find anything in the Anaconda documentation, but I suppose starting R with in vanilla mode by default should do the trick `R --vanilla`, impying implies `--no-site-file, --no-init-file, --no-restore` and `--no-environ`.
Do you know who to do this, if only for te

[2018-11-28 14:06] Hoohm commented on #30
Version 0.4 and many more things.

Which functionnality would you specifically need?

[2018-11-28 14:24] Hoohm commented on #65
Was gonna add that vanilla is the [default behaviour](https://bitbucket.org/snakemake/snakemake/src/1473d6d6fe7884263c2b7e6fcd54eab5ac9a2252/snakemake/script.py#lines-330)

[2018-11-28 15:32] Puriney commented on #64
Looking forward to it.

[2018-11-28 15:32] #64 closed, assigned to nobody

[2018-11-28 16:12] Hofphi commented on #65
I updated Snakemake as suggested by seb-mueller!

Now I get the following error:
[code]

I run the pipeline on a Linux cluster.

[2018-11-28 16:25] Hoohm commented on #65
From the few github issues ([1](https://github.com/matplotlib/matplotlib/issues/12626),[2](https://github.com/matplotlib/matplotlib/issues/10755/),[3](https://www.kaggle.com/questions-and-answers/70890)) I have found this is something quite recent.

Could you try something and report back the potential errors?
Run a python shell and try to import both numpy and matplotlib, see what happens there.

[2018-11-28 17:55] Hoohm commented on #65
I that doesn't work, I guess the best way to deal with it is to come back to older versions of matplotlib. Although I'm not sure how the dependencies of snakemake will deal with the backrolling of versions.

[2018-11-28 17:56] dylkot commented on #30
Exciting! Really just the ability to generate a count matrices for reads falling in introns in addition to reads falling in the coding sequence.

[2018-11-29 08:41] Hofphi commented on #65
I updated the conda environment and also tried to install `matplotlib` and `numpy` as suggested by Hoohm. Now I get a CondaHTTPError that did not occur before.

[code]
Since I never got this message before on the cluster I can not believe that is has something to do with a blocked network for `https://www.anaconda.com`. I am currently looking for fixes for this issue!

[2018-11-29 08:53] Hofphi commented on #65
[code]

[2018-11-29 09:48] Hofphi commented on #65
I set `conda config --set ssl_verify no` and don't get the network issue. The conda environment is loaded but now the "original" `reshape2` package issue is back.

[2018-11-29 11:53] Hoohm commented on #65
Ok. Would you be ok with deleting all the miniconda folder and reinstalling from scratch?

[2018-11-30 08:20] seb-mueller commented on #65
I suppose the `vanilla` default is not included yet in the most recent snakemake release, which version are you on right now?
If that's the case, have you tried moving your R library temporarily as suggested above?

[2018-11-30 08:32] Hofphi commented on #65
Reinstalled miniconda and snakemake from scratch and still get the reshape2 error.
I currently have:
` ~$ snakemake --version
    5.3.0 `

[code]

I have not installed R through conda yet so I can not see the software in `~/miniconda3/lib`. Before reinstalling miniconda I did have R and even tried to change the Lib-Path in .Renviron without any success. Miniconda is still trying to load the R pack

[2018-11-30 08:45] seb-mueller commented on #65
Just checked and snakemake 5.3 was release a day before the vanilla commit, so this will be fixed in the next release. R will not be installed manually, but by conda on the fly upon running snakemake.
But did you actually try as suggested above? `mv ~/R ~/Rmoved`? This moves R out of the expected path deactivating it temporarily.

[2018-11-30 11:59] Hofphi commented on #65
@seb-mueller I changed the name of my R library directory `mv ~/R ~/Rmoved`. It seemed to work with this tweak:
[code]
However, I don't think that would be a nice fix in the long run.  I am going to try to change the file `~/miniconda3/lib/python3.6/site-packages/snakemake/script.py`

From
`shell("Rscript {f.name}", bench_record=bench_record)`
to
`shell("Rscript --vanilla {f.name}", bench_record=b

[2018-11-30 12:12] seb-mueller commented on #65
Glad it helped. And yes, that would only be a temp workaround, until the next version of snakmake should sort it permanently.

[2018-11-30 12:13] #65 closed, assigned to nobody

[2018-12-14 13:19] Hofphi opened #66 "Create_star_index failing"
Hey,
I tried to run snakemake --cores 12 qc filter map for MixedSpecies experiment but get an error while creating the star index. Unfortunately the error message is not telling me much, maybe there is one of you that has a little more experience with this kind of output!

Here the snakemake.log
[code]

[2018-12-17 09:00] Hoohm commented on #66
Hey @Hofphi
I found out that exit status 137 is [linked to memory issues](https://stackoverflow.com/questions/31659840/my-server-exited-with-code-137).

My guess is that your combined ref is too big for the limit that is imposed in STAR or the amount of memory the computer your using has.

How much ram do you have? Under 32 I would not try a mixed ref.

If you have 32, I would advise removing the

[2018-12-18 11:22] Hofphi commented on #66
I can not try what you suggest @Hoohm since my dropSeqPipe-folder on the sever got erased...I had to set up everything again and now I  get this error:

[code]

Followed by that:

[code]
I tried to remove miniconda and updating
[code]
I also installed a fresh snakemake. I am really not sure what causes the issue

[2018-12-19 11:35] Hoohm commented on #66
This is really strange. Why was your folder deleted?

It seems like conda can't write the files of the envs. Is there enough space to write up all that you need?

what happens if you run this: `/home/hofphi00/miniconda3/bin/conda-env create --file /scratch/hofphi00/dropSeqPipe/.snakemake/conda/94f1b5d7.yaml --prefix /scratch/hofphi00/dropSeqPipe/.snakemake/conda/94f1b5d7`

[2018-12-19 13:09] Hofphi commented on #66
Hey @Hoohm

I installed the dropSeqPipe-pipeline locally and resolved the `create star_index` issue that I had originally. Your proposed solution by deleting the  `--limitGenomeGenerateRAM 30000000000\` worked great!

Regarding the pipeline on the cluster I got the following error message after running the command above (I certainly have enough space in this directory):

[code]

[2018-12-19 13:16] Hoohm commented on #66
Is it possible that by removing conda you just left the call to conda and it can't find it?
Normally when I remove/reinstall conda I just delete the miniconda3 folder and then run the bash installation again.

[2018-12-19 14:26] Hofphi commented on #66
I also tried that but with no success. I already opened an issue-thread on the conda github because I could not find any entry regarding this error here:

[code]
I hope for help from them, so you can close this issue

[2018-12-19 18:26] #66 closed, assigned to nobody

[2018-12-19 21:39] Hoohm commented on #30
Hey! If you want to try out the new feature for automatic mixed species download, merging and generation, you can test out the new 0.4 version!

[2018-12-20 15:21] dylkot commented on #30
Awesome, I just got a new load of data and so I'll run it with the new version! I'll let you know how it goes.

[2018-12-20 15:33] Hofphi opened #67 "Config.yaml error DropSeqPipe v0.4"
Hey @Hoohm,

I was excited to see that you released a new version of DropSeqPipe featuring the new version of dropseq-tools (v2.0). I tried running the v0.4 release locally to check if everything is working as expected. Unfortunately I have a really "basic" problem right at the beginning of running the pipeline.

I couldn't even start the pipeline and got this error:
[code]
I revised the `config.y

[2018-12-20 16:56] Hoohm commented on #67
That's my bad.
Documentation is not clear.
SPECIES_ONE should be homo_sapiens.

On Thu, Dec 20, 2018, 16:33 Philipp <notifications@github.com> wrote:

[2018-12-20 16:56] Hoohm commented on #67
And build should be 37

On Thu, Dec 20, 2018, 17:50 Patrick Roelli <patrick.roelli@gmail.com> wrote:

[2018-12-20 16:56] Hoohm commented on #67
I'll make a schema validation soon in order to feel with those small
configuration issues

On Thu, Dec 20, 2018, 17:51 Patrick Roelli <patrick.roelli@gmail.com> wrote:

[2018-12-20 17:08] Hofphi commented on #67
Hey Patrick,

thanks for your answer. I already checked if the species name or the build was the issue but I still get the same error message pointing to line 14 in the snakefile. Seems like some file is corrupt but I could not figure out the problem yet

[2018-12-20 17:11] Hoohm commented on #67
Here is what you should have:
[code]

On Thu, Dec 20, 2018, 18:08 Philipp <notifications@github.com> wrote:

[2018-12-20 17:12] Hoohm commented on #67
Don't copy paste it directly. I'm doing this on my phone.
I'll add some example on the documentation tomorrow

[2018-12-20 18:25] Hoohm commented on #44
With the new version it works as expected.
Although I'm not testing this on Travis but only locally. The test data is now actually a sample of a mixed human mouse.

We can implement multiple tests if we want but I'm not sure it makes sense since the mixed experiments are mostly used to test the doublet rates of a platform. I'm not sure people will make PRs for the mixed and that it needs to be tes

[2018-12-20 18:53] #53 closed, assigned to nobody

[2018-12-20 18:54] Hoohm commented on #54
This should be fixed now

[2018-12-21 22:07] Hoohm commented on #67
I changed the example on the documentation website. I hope this clears things up. Let me know how it works for you

[2018-12-22 21:04] Hofphi commented on #67
Thanks for the nice documentation Patrick!

I found my error! I had two config files one was in the working directory and another copy in the templates folder. On the previous release I did the same but without any problems. I guess it has something to do with the changes in the snakefile of dropSeqPipe release v0.4.

[code]
**changed to**

[code]

Anyway, everything is running fine now. Sorry for

[2018-12-22 21:34] Hoohm commented on #67
Merry christmas!

[2018-12-22 21:34] #67 closed, assigned to nobody

[2018-12-22 22:10] dylkot commented on #30
Is there documentation anywhere on how to setup the binaries to run the new version? When I try to run it with the environment that was working for the previous version of dropSeqPipe, I get the error:

/bin/bash: cutadapt: command not found

I can install cutadapt but I imagine there might be several changes to the environment including downloading the next version of Drop-seq_tools and I just wa

[2018-12-22 22:12] Hoohm commented on #30
are you adding `--use-conda` to the command? Because that would download and activate the envs for each rule and you should not get this kind of errors.

[2018-12-22 22:13] dylkot commented on #30
Nope, I wasn't. Sorry I missed that! Will give it a try.

[2018-12-26 00:32] dylkot opened #68 "errors in CreateSequenceDictionary and ConvertToRefFlat only when run through snakemake"
Hi There,

I am encountering a few errors that occur in the generate_meta phase of the pipeline but that oddly don't seem to occur when I run the individual commands in isolation. I am running the pipeline on a Google Cloud Platform Ubuntu 16.04 Virtual Machine in a Docker container. The VM has 8 cores and 52G RAM and I am requesting 50G of the RAM in config.yaml and running the pipeline as such:

[2018-12-27 03:17] dylkot commented on #68
fastqc also fails similarly

[code]

[2018-12-27 08:56] Hoohm commented on #68
Hello @dylkot
I found this related [issue](https://bugs.openjdk.java.net/browse/JDK-8204688) on openidk. It seems to be related to some missing fonts. I'm not sure how to solve this.

Which version of openjdk runs on your VM? On [travis-ci](https://docs.travis-ci.com/user/reference/xenial/#jvm-clojure-groovy-java-scala-support) they have 11 and 10.

I would also recommend a small change in your co

[2018-12-27 09:41] Hoohm commented on #68
Found something related to a java docker image: https://github.com/appropriate/docker-jetty/issues/15

[2018-12-27 16:11] dylkot commented on #68
Thanks for these tips. I didn't have openjdk installed in the Docker container because I assumed the conda version would suffice. I installed the default openjdk for ubuntu which is 10.02 (apt-get install default-jdk) which included fontconfig and now the issue seems to be resolved.

[2018-12-27 16:13] dylkot commented on #68
Maybe adding fontconfig to the conda environment would fix the issue for going forward.

[2018-12-27 17:09] Hoohm commented on #68
Did you install snakemake with conda?

On Thu, Dec 27, 2018, 17:13 Dylan Kotliar <notifications@github.com> wrote:

[2018-12-27 17:10] dylkot commented on #68
Yep

[2018-12-27 19:03] dylkot opened #69 "Error in rule MergeBamAlignment - Read from mapped file is missing in reference fastq file!"
I'm getting the following error message at the MergeBamAlignment phase of the pipeline

[code]

Maybe I am missing something about how the pipeline is functioning but when I try to investigate
/home/dropSeqPipe/.snakemake/scripts/tmpw0q_o4n2.merge_bam.py
the file doesn't seem to be there. The input files:

/home/results/samples/RA0449.0/Aligned.out.bam, /home/results/samples/RA0449.0/trimmmed_repa

[2018-12-28 07:27] manarai opened #70 "Error in set in up the pipe and running it"
Thank you very much for this fantastic package.

The previous version worked very well for me but I am having some troubles running the newer version.  First off, I am not sure if I am setting this correctly. I downloaded the dropseqpipe package as instructed, then inside this folder I created a working directory WORKING_DIR containing the following files and directories:

-config.Yaml
-sample.csv

[2018-12-28 13:03] Hoohm commented on #70
Hello @manarai
I think your samples.csv might be wrong.
Can you paste it here?

[2018-12-28 13:17] manarai commented on #70
Here is the actual samples.csv:

samples,expected_cells,read_length,batch
midbrain_fresh_nuclei_hiseq,3000,80,batch1
midbrain_frozen_nuclei_hiseq,3000,80,batch1
hipocampus_frozen_nuclei_hiseq,3000,80,batch1

Here is the RAW_DATA:
hipocampus_frozen_nuclei_hiseq_R1.fastq.gz
hipocampus_frozen_nuclei_hiseq_R2.fastq.gz
midbrain_fresh_nuclei_hiseq_R1.fastq.gz
midbrain_fresh_nuclei_hiseq_R2.fastq.gz
midb

[2018-12-28 13:50] manarai commented on #70
I was missing the adapter.fa input in the config.yaml but now I am seeing an other error.

Building DAG of jobs...
MissingRuleException:
No rule to produce 8 (if you use input functions make sure that they don't raise unexpected exceptions)

Does this mean it is not able to read the result directory? I am trying different things with not success

[2018-12-28 14:58] Hoohm commented on #70
Could you use the feature/yaml_schema branch?
This one integrates a check on the needed parameters before running anything. This could help find out what's wrong

[2018-12-29 12:33] Hoohm commented on #68
dropseq_tools is already asking for openjdk<=8.0 but it seems openjdk doesn't have any dependencies.

@cgirardot Could you add fontconfig the to dropseq_tools dependencies? Or should I add it to the env for dropseq_tools?

@dylkot Could you test adding it to the envs that need it and uninstall the ones you did?
I assume it's for all tools that use openjdk. Once you have tested that the addition to

[2018-12-29 12:36] Hoohm commented on #69
This is odd. What's happening is that one read from R2 is missing in R1. This should not happen since bbmap is re-pairing reads from both R1 and R2 before mapping ensuring you only have the same reads in both files. Did you interact with those files in any manual way?

edit: Adding the read id to the exit message so that it is easier to debug. You can use the develop branch to get this info.

[2018-12-29 14:29] Hoohm commented on #70
The branch has been merged with develop. You can use the later.

[2018-12-30 20:58] dylkot commented on #68
Unfortunately just adding fontconfig to the relevant conda environments:

/home/dropSeqPipe/.snakemake/conda/73b3d757
/home/dropSeqPipe/.snakemake/conda/dd296d1f
/home/dropSeqPipe/.snakemake/conda/8331163d

 does not seem to fix the errors. I still get the same error messages. I will explore and see if I can find other necessary dependancies that can be installed through conda.

[2018-12-30 22:08] dylkot commented on #68
It seems like installing both fontconfig and font-ttf-dejavu-sans-mono to the 3 environments fixes the issue. I used these installation commands:

conda install fontconfig
conda install -c anaconda font-ttf-dejavu-sans-mono

[2018-12-30 23:08] dylkot commented on #69
Thanks for this! Now I have the helpful error message:

Read C7JT8:1:1102:13714:1859 from mapped file is missing in reference fastq file!

I'm checking it out and that read is definitely in both the input _R1.fastq.gz and _R2.fastq.gz files:

Read 1:
@C7JT8:1:1102:13714:1859/1
GTGGTGGGTTACAGTGAGCT
+
CCCCCGGGGGGGGGGGGGGG

Read 2:
@C7JT8:1:1102:13714:1859/2
GGCCAGGCTGGTCTCAAACTCCTGACCTCAGGCAATCCGCCC

[2018-12-31 03:36] Hoohm commented on #69
I guess it comes from the `/1` and `/2` at the end of the read id. R1 is read by a fastq parser from SeqIO and the bam file is read by a pysam parser. I think pysam is not keeping the `/2` at the end. This would explain the problem of not finding the read although it is there.

I tried a quick fix by deleting the end of the read id name in the branch [feature/debugging_mergeBam](https://github.com

[2018-12-31 03:40] Hoohm commented on #68
Ok thanks. One env is dropseq_tools, the second is fastqc, do you know which one is the third?

[2018-12-31 04:37] dylkot commented on #68
the third one is plots_ext

[2018-12-31 04:40] dylkot commented on #68
and one is picard. I don't seem to have one exclusively for fastqc

[2018-12-31 09:08] dylkot commented on #69
That seems to have fixed that issue! But now it is crashing at the repair_barcodes step with a very non-descriptive error message:

[code]

I'll be out of town until 1/8 but I am happy to try to debug this further when I get back.

[2018-12-31 12:19] Hoohm commented on #69
Ok have fun.

When you come back can you find the name of the sequencer that produced the data? That might help implement a different standard.

I have modified the same branch again, might have fixed the issue. I think it comes from a split I did on read name to get the lane of the sequencer.

[2018-12-31 12:26] Hoohm commented on #68
fastqc is implemented as a snakemake wrapper. But this it odd. fastqc should not run if the packages are not present in the env.

I've added font-ttf-dejavu-sans-mono=2.37 and fontconfig=2.13.1 to plots_ext, dropseq_tools and picard.

[2019-01-04 11:47] manarai commented on #70
Sorry just came back from holiday. Happy new year.

Thanks, I will try the feature/yaml_schema branch to check for errors in my config.yaml.

[2019-01-05 08:30] manarai commented on #70
Somehow even the old version of dropseqpipe kept on showing the same error I see when running the new version. I had to create an new conda env and freshly reinstall snakemake. Not too sure exactly what was the error but the pipeline is running fine now. Thanks!

[2019-01-05 08:30] #70 closed, assigned to nobody

[2019-01-15 17:35] manarai opened #71 "violin_plot"
Hi

I am running into the following errors. Seems that there is an incompatible enviromment which makes the plot_violine.R scripts fail. Could a --vanilla  issue? Appreciate your help.

Error in rule violine_plots:
    jobid: 13
    output: /home/tommy/Nadia_projects/Nadia13/dropSeqPipe/results//plots/violinplots_comparison_UMI.pdf, /home/tommy/Nadia_projects/Nadia13/dropSeqPipe/results//plots/UMI

[2019-01-16 13:55] seb-mueller commented on #71
Hi manarai,

That's strange.
* What version are you using?
* How did you execute snakemake?

Also, could you try to execute the R-script manually? It's basically activating/running the environment and command mentioned above (you might have to run snakemake once again before):

[code]

I'd be interested where the R-script brakes.

[2019-01-16 15:52] #68 closed, assigned to nobody

[2019-01-16 17:47] manarai commented on #71
I am using conda 4.5.12 and the latest version of snakemake

tommy@d405:~$ source activate /home/tommy/Nadia_projects/Nadia13/dropSeqPipe/.snakemake/conda/d01599d2
(/home/tommy/Nadia_projects/Nadia13/dropSeqPipe/.snakemake/conda/d01599d2) tommy@d405:~$ Rscript --vanilla /home/tommy/Nadia_projects/Nadia13/dropSeqPipe/.snakemake/scripts/tmp0ihd5l4t.plot_violine.R
Fatal error: cannot open file '/home

[2019-01-16 18:04] manarai commented on #71
I try to rerun it again and this is what it gives me.

snakemake --cores 8 --use-conda --directory ~/Nadia_projects/Nadia13/dropSeqPipe/ --rerun

....
/home/tommy/Nadia_projects/Nadia13/dropSeqPipe/results//logs/bbmap/hipocampus_frozen_nuclei_hiseq_repair.txt contains double '/'. This is likely unintended. It can also lead to inconsistent results of the file-matching approach used by Snakemake.
Us

[2019-01-16 18:06] manarai commented on #71
I try to rerun again and it stops when it runs the violin plot scripts

snakemake --cores 8 --use-conda --directory ~/Nadia_projects/Nadia13/dropSeqPipe/ --rerun

........
Provided cores: 8
Rules claiming more threads will be scaled down.
Job counts:
	count	jobs
	1	all
	1	violine_plots
	2

[Thu Jan 17 02:56:36 2019]
localrule violine_plots:
    input: /home/tommy/Nadia_projects/Nadia13/dropSeqPipe

[2019-01-16 18:21] seb-mueller commented on #71
Thanks, that's useful information.

The culprit seems to be this line:

[code]
It's doubling the path. I'd suspect this line to be the culprit:

https://github.com/Hoohm/dropSeqPipe/blob/48b0050c3e3627ff50f46e2951d05185f47e3fbe/scripts/plot_violine.R#L162

- I think the `getwd()` needs to be deleted. If you feel confident, could you try to delete from `plot_violine.R` file?

- Or, could you try to

[2019-01-16 18:34] manarai commented on #71
Right on, I deleted getwd() in the plot_violin.R scripts and it worked. Awesome! thank you very much.

snakemake --cores 8 --use-conda --directory ~/Nadia_projects/Nadia13/dropSeqPipe/ --rerun

Activating conda environment: /home/tommy/Nadia_projects/Nadia13/dropSeqPipe/.snakemake/conda/d01599d2

Attaching package: ‘cowplot’

The following object is masked from ‘package:ggplot2’:

    ggsave

[Thu

[2019-01-16 18:34] #71 closed, assigned to nobody

[2019-01-16 18:42] seb-mueller commented on #71
Glad it worked and thanks for trying it out!
I'll fix this soon and push it to the repository.
Just out of interest, are you using Nadia from Dolomite Bio?

[2019-01-16 18:48] manarai commented on #71
Thanks for your help. Yes I am using the Nadia system from Dolomite Bio.

[2019-01-31 12:10] seb-mueller opened #73 "Insufficient memory for the Java Runtime Environment error"
Running the current (0.4) develop branch, I came across this error:

[code]

Most probably caused this line:

https://github.com/Hoohm/dropSeqPipe/blob/ae62a61bb9fa196886437b973a4efbadf764cc04/rules/filter.smk#L86

In `config.yaml`, I have `memory: 30g` set, which seems resonable on a 200GB+ machine and I'd think this how much the pipeline is using. But in the line above this is multiplied by 10,

[2019-02-01 11:07] Hoohm commented on #73
That was a poor "fix" to deal with the fact that bbtools needs a bit more memory than the other rules.

We can delete this. Users should bump up the memory in the config if it is not enough.

[2019-02-01 13:12] seb-mueller commented on #73
Agreed, especially given memory seem multiplied by the number of threads.

I could take out the 10 fold and include the change in the outstanding PR?

[2019-02-01 13:17] Hoohm commented on #73
Sure

On Fri, Feb 1, 2019 at 2:12 PM seb-mueller <notifications@github.com> wrote:

--

*Roelli Patrick Division of Animal Physiology and Immunology TUM School of
Life Sciences Weihenstephan Technische Universität München Weihenstephaner
Berg 3 85354 Freising GermanyBCF, Swiss Institute of BioinformaticsBâtiment
Génopode, Quartier SorgeUniversity of Lausanne1015 LausanneSwitzerland*

*https://gith

[2019-02-01 13:26] seb-mueller commented on #73
Ok, I've pushed it with yet another commit of an issue I came accross requiring dplyr 0.7.4.

Also, we have to agree about the newline at the end of a file, it's always being corrected by my editor (vim). Which editor do you use? There is some discussion on this topic here:
https://stackoverflow.com/questions/5813311/no-newline-at-end-of-file

[2019-02-01 16:38] dylkot commented on #69
That was data from a miseq. We ultimately traced the issue to a read name issue deriving from the fact that the data was demux'd with Picard rather than bcl2fastq2. Several steps didn't like having \1 and \2 in the read names indicating which mate they belonged to. And also, the lane information occurred in a different place in the read name. We want to use bcl2fastq2 going forward anyway so we ha

[2019-02-01 16:41] njharlen commented on #73
We've been running into memory issues with bbmap as well, for our data the repair step of bbmap has been running a 50g machine out of memory. Cutadapt does have a paired end mode that would filter the read pairs as it goes and avoid the need to ever run bbmap repair. If run in its "legacy" mode you can filter with different parameters for each read, so it should run identical to the current code (

[2019-02-08 09:58] colindaven opened #74 "sircel integration?"
Dear dropseq users,

I have seen quite a few dropseq pipe outputs - which is a very nice tool by the way - which have a dropout of 50-75% of total sequences due to both cell and UMI barcode errors.

Apparently this is a known phenomenon, and is the reason why the sircel barcode corrector has been created.
https://github.com/pachterlab/sircel

My questions then - is sircel decent - I have results b

[2019-02-20 16:01] dylkot opened #75 "fastqc not looking for adapters in the adapter file"
Currently fastqc doesn't seem to look for the adapters that are used for cutadapt. As a result it is saying that there is no adapter contamination for samples that I know have adapter contamination. Unfortunately cutadapt expects the adapters file to be in fasta format whereas fastqc wants it to be in a tab delimited format. Perhaps we add another configuration parameter for a fastqc adapter file?

[2019-02-20 16:08] Hoohm commented on #75
Hi @dylkot
we actually had this talk with @seb-mueller earlier this week and we will add a conversion from fasta to tsv file to do exactly this.

[2019-02-20 17:25] dylkot commented on #75
Great, thanks!

[2019-02-25 07:59] seb-mueller opened #76 "Error in plot_yield, probably due to pigz bug in bbmap logs"
Running the new develop [branch](https://github.com/Hoohm/dropSeqPipe/tree/665afef47c0c604660eb6dafb3c9b18b7ab4ba04), I get get the following error:

[code]

After a bit of debugging, I found this was caused by only 1 out of 3 samples.
Turns out there are unexpected lines in the `logs/bbmap/sample1_repair.txt` which is read in by `plot_yield.R`:

[code]
Whereas this is for `sample2_repair.txt` whi

[2019-02-25 08:50] seb-mueller commented on #76
Having done some more research, it seems both `trimmmed_repaired_R1.fastq.gz` and `trimmmed_repaired_R2.fastq.gz` were produced with the same number of lines despite the `pigz: abort`.
This is in line with the above, with the stats being reported for both samples.

As a note, the culprit call invoking pigz seems `repair.sh`:

[code]

I'm inclined to have `plot_yield.R` to deal with those warnings,

[2019-02-25 10:21] Hoohm commented on #76
So there is a warning but it doesn't change the output?

If so, just discarding the "pigz" lines in plot_yield should do the trick yes.

[2019-02-25 10:28] seb-mueller commented on #76
Yes, this should do the trick, I'll get on it next thing.
Still, there might still be a underlying issue which might or might not have effects on the processing, that why I provided all this informations to be aware of a potential problem.
Still not sure if it's sample specific or a bug in pigz.
I'd therefore advice to inspect the `logs/bbmap/` files in case something is odd in the future.

[2019-02-25 11:58] Hoohm commented on #74
Hello @colindaven and sorry for the long wait. You've slipped by my attention.

Could you please expand on the premise of your question. Why are the cell/umi barcodes error a problem for you? dropSeqPipe does cell and umi correction (cell barcode for 1 error and umi based on dropseq_Tools)

Now to answer your questions:

A) Last time I've tried Sircel, about 1 year ago, it was super slow on large

[2019-02-25 11:59] Hoohm commented on #73
This has been fixed in the hotfix 0.41.
Closing this.

[2019-02-25 11:59] #73 closed, assigned to nobody

[2019-03-01 10:01] colindaven commented on #74
Hi @Hoohm

thanks for your thoughtful answer.

The dropouts from both cell and umi errors are problem because I am losing 50-75% of my data before I even get to the alignment stage. That's an issue when just starting with 400m NextSeq reads, since the sensitivity is then very low. Unfortunately there is resistance to using a bigger off-site sequencer.

I am glad to see dropseq does perform barcode

[2019-03-01 11:27] seb-mueller commented on #75
@dylkot I've just created a feature branch that addresses this, could you try this out?:
https://github.com/Hoohm/dropSeqPipe/tree/feature/fastqc_auto_adapter

@Hoohm , could you revise the changes?
Ultimately, it creates `fastqc_adapter.tsv` in the root dir based on the adapter fasta.
This is then used by FastQC instead of the default adapters.
Once ok, I'll merge it into develop.

I've also put/

[2019-03-01 11:39] seb-mueller commented on #76
The fix works for, so closing the issue.

[2019-03-01 11:39] #76 closed, assigned to seb-mueller

[2019-03-02 19:24] seb-mueller commented on #75
Just merged it in develop and travis did gave an error:

[code]

Seems like the `biopython` module needs to be imported.
I have already tried to add an environment into `fastqc.smk` which contains biopython as below:

[code]

But this gave the following error:

[code]

Do you know how to make `biopython` available to a `run` directive?

[2019-03-03 14:00] Hoohm commented on #75
Sadly you can't, you have to create a script and make a conda env with the call to the script.

[2019-03-12 13:45] seb-mueller commented on #75
This is now integrated in the develop branch.

[2019-03-12 13:45] #75 closed, assigned to seb-mueller

[2019-03-12 13:47] #44 closed, assigned to nobody

[2019-03-15 11:46] seb-mueller opened #77 "Rerun with changed expected_cells in samples.csv requires remapping"
I often need to change the `expected_cells` in `samples.csv` and want snakemake to update all result depending on it, but no more than that.

This seems common and I think we need a clean solution for this. It has been raised already in issue #28, but since the pipeline has changed and I think that solution is not valid anymore, I'd rather have a separate issue.

To approach this systematically, I

[2019-03-15 12:01] seb-mueller commented on #77
Addition: I've created a view of the DAG and circled the rules that depend the `expected_cells` parameter:

![dag](https://user-images.githubusercontent.com/20091739/54429950-e4ce7180-4719-11e9-8e4a-f99180b84fb3.png)

[2019-03-15 14:36] seb-mueller commented on #77
Added this branch which seems to fix the issue:
https://github.com/Hoohm/dropSeqPipe/tree/feature/split_species_fix

Suggest workflow:
- change `expected_cells` in `samples.csv`
- remove or backup all `top_barcodes.csv`
  In `zsh` this can be done like this `ls **/*top_barcodes.csv | xargs -t -I{} -p mv {} {}.bak`
- run snakemake
  `snakemake --use-conda -rp --conda-prefix ~/.conda/myevns --cores

[2019-03-22 11:32] Hofphi opened #78 "Problem creating refFlat"
Hello everyone,

today I ran into some problems in generating the metadata for the single-cell pipeline. I got an unclear error message in the create_refFlat rule when running dropSeqPipe on a Gallus gallus (chicken) genome build from ensemble (release 95).

I went back to dropseqtools and executed the ConvertToRefFlat script manually in the command line. After that I realised that my gtf was miss

[2019-03-25 11:11] Hoohm commented on #78
Hey @Hofphi

As a matter of fact I did have to do the same for ERCCs I added to our references. Here is the command I used: `awk -F'[\t|;]' '{printf $0" "; gsub(/id/,"name"); print $9";"$10"; exon_version \"1\";"}'`

It might not work out of the box for you but at least you get a template for what you need.

For your question regarding the curate_annotation rule, this is linked to the gtf_biotypes

[2019-03-25 14:15] Hofphi commented on #78
Hey,

thank four for clarifying the curate_annotation rule.

I tried your command for fixing the annotation-file with some variation but unfortunately it was not doing what I was looking for. However, I used the following:
[code]
It works fine but I have to run this script twice since the action "print" (in case the first condition is TRUE) skips the second if condition. Do you have any suggestion

[2019-04-03 11:12] MarleyCodes commented on #78
@Hofphi

awk '{
		if (!/gene_name/)
		print $0, "gene_name " $10;

		else if (!/transcript_id/)
		print $0, "transcript_id " $10;

		else print $0
		}'  directory/FILE.gtf > directory/FILE_corrected.gtf

Not an awk expert at all, but changing the second if to an else if, seems to have worked for me. Thanks for the fix!

[2019-04-03 14:26] MarleyCodes commented on #78
I'm trying to get the pipeline running with ftp://ftp.ensemblgenomes.org/pub/plants/release-42/gtf/zea_mays/Zea_mays.B73_RefGen_v4.42.gtf.gz but the pipeline crashes during the ReduceGtf and ConvertToRefFlat steps. I tried both of your fixes, but they haven't worked. Running STAR genomeGenerate works fine for the above file and genome.fasta btw. So it should adhere to gtf standards.
Could you send

[2019-04-03 14:32] Hofphi commented on #78
For the dropseq-tools ConvertToRefFlat and ReduceGTF to run properly you will need to provide the following attributes for all rows/annotation in the gtf-file:
- gene_id
- gene_name
- transcript_id
- transcript_name

You should check if you have these attributes in your file.

[2019-04-03 14:50] Hoohm commented on #78
I actually had to add this exon_version 1 as well. I tried with ERCCS added to the gtf and it would not work without this.

[2019-04-03 14:55] dylkot opened #79 "Shouldn't we correct cell-barcode errors before identifying core barcodes?"
I am noticing that I am losing over 50% of my reads because they are tagged with cell-barcodes that aren't "core" or aren't 1 edit distance away from a "core" cell-barcode. Some of the non-core cell-barcodes that are getting tossed out have more reads than the core ones. I am wondering why these aren't instead becoming core barcodes. I currently have my expected number of cell barcodes set to 4000

[2019-04-03 15:40] Hoohm commented on #79
Hello @dylkot

When umi_tools was added for the whitelist, I got better results (more reads) than the standard drop_seq tools and by combining both we should get the best of the two worlds. That was back with the old drop_seq tools.

At this time, umi_tools gives you a whitelist based on the total reads which might be skewed towards cells that have a high number of amplification duplicates. The co

[2019-04-03 15:51] dylkot commented on #79
Thanks for the response!

I see, that is all useful context. I can certainly try umi_tools with the --method umis flag to see if that helps. But actually I'm just looking at barcode_mapping_counts.pkl to see how many reads are getting tossed out because they are assigned to barcodes in the "unknown" class. And I was surprised to see that some of those discarded barcodes have more reads than barcod

[2019-04-03 15:57] Hoohm commented on #79
From your plot I would consider the selection to be ok. As we don't see a clear knee/bend, I would rather stay conservative.

I would look at the violin plots as well and you would probably see that the cells past the top 4500-5000 cells are probably going to be discarded anyway later on.

My assumption is that those cells will have low complexity (aka high top50) and they  won't contribute much t

[2019-04-03 16:00] dylkot commented on #79
OK, thanks for the feedback! I won't worry too much about those cells then for the time being. I suppose I was just surprised by the cumulative fraction only being 50% but I agree that there isn't really a knee to speak of. Thanks again :).

[2019-04-04 10:09] MarleyCodes commented on #78
Thanks for both of your replies. I'll try to work this out today and see if it works.

EDIT: Your suggestions worked and the pipeline no longer crashes on the gtf file, but it does crash on the *plot_violine.R step:

cannot open file '/data/sag/2019/MYE_18020068_2019_SingleCellTomBras/dropSeqPipe/batch1/.snakemake/scripts/tmpv3_g5lck.plot_violine.R': No such file or directory

If this isn't the ri

[2019-04-05 14:52] MarleyCodes opened #80 ".snakemake/scripts folder is empty"
The pipeline does not seem to create the tmp files of the scripts within the batch/.snakemake/scripts directory. Which results in the crash of the following command:

`source /home/mye/miniconda2/bin/activate '/data/sag/2019/MYE_18020068_2019_SingleCellTomBras/dropSeqPipe/batch1/.snakemake/conda/f854f536'; set -euo pipefail;  Rscript --vanilla /data/sag/2019/MYE_18020068_2019_SingleCellTomBras/dro

[2019-06-19 06:04] abmmki opened #81 "KeyError for 'barcode-whitelist'"
# I am getting following error, irrespective of I have file name or not having any name of barcode-whitelist:

KeyError in line 22 of /home/bin/dropSeqPipe/Snakefile:
'barcode-whitelist'
  File "/home/bin/dropSeqPipe/Snakefile", line 22, in <module>

# From config file, I also tried deleting the parameter line: "barcode-whitelist:"
but didn't work.
Version 0.4 using.

Let me know what I am missing

[2019-06-19 06:20] abmmki commented on #81
I see the problem.
in config.yaml with would be 'barcode-whitelist', not with underscore 'barcode_whitelist'

Also, read_length in sample.csv file, not "read_lengths"
This extra (s) creating problem

[2019-06-19 08:20] abmmki opened #82 "limitGenomeGenerateRAM=31000000000"
EXITING because of FATAL PARAMETER ERROR: limitGenomeGenerateRAM=31000000000is too small for your genome
SOLUTION: please specify limitGenomeGenerateRAM not less than85544254848 and make that much RAM available

# Using Version 0.4.  Which file to change or how to provide this parameter?? I can provide more RAM or delete this parameter. But how or in which file?

# also where is:    prep_star.py

[2019-06-20 08:07] terooatt opened #83 "violin plot fail"

[2019-06-20 08:12] terooatt commented on #83
Hi,

I somehow can't seem able to run the violin plot properly. Here is the error I get.

snakemake --cores 8 --use-conda --directory ~/Nadia_analysis/dropSeqPipe
.....
.....
Activating conda environment:/home/Nadia_analysis/dropSeqPipe/.snakemake/conda/c4d744c4

Attaching package: ‘cowplot’

The following object is masked from ‘package:ggplot2’:

    ggsave

Error in grDevices::pdf(..., version =

[2019-06-21 11:16] Hoohm commented on #83
Hello @terooatt
this is an often problem encountered with different platforms, I had the same issue on my cluster server.

Could you please tell us which OS is running on the computer you are using?

[2019-06-21 11:18] Hoohm commented on #82
Hello @abmmki
this is strange because this was changed a while ago on the [latest master branch](https://github.com/Hoohm/dropSeqPipe/blob/fc78da72f4a50496519c13ed19633a1825b01b0b/rules/generate_meta.smk#L137).

Could you maybe download master branch and try again?

[2019-06-21 11:20] Hoohm commented on #81
Hello @abmmki
I guess we should release a new version with those small fixes. They are actually already on the master branch.

[2019-06-21 21:31] seb-mueller commented on #83
This seems to be the same as issue #71. @Hoohm, Could you have a look at this issue? This has been fixed but the branch (which is only at my fork) seems not merged in yet. Not sure why we didn't do this, I could do a pull request if you agree (Or did I miss something?). The branch is (https://github.com/seb-mueller/dropSeqPipe/tree/feature/newline_plus_yield_bugfix) and the relevant commit solving

[2019-06-27 15:13] abmmki opened #84 "Genome not found, Picard's command line syntax is changing, violing plot not generated, expression.tsv not generated"
Here I am reporting several Errors/warnings.
I am using Fedora 30. The Guideline (Wiki) asked to install miniconda3. I tried that way, but it could not get all required dependent packages. I installed them manually from bioconda/conda-forge. However, during "meta" step it complained for  a missing *library.so.1* .... (forgot exact name, not in my record now). So, I deleted miniconda, and then "con

[2019-06-27 15:40] abmmki commented on #84
it is libcrypto.so.1.0.0
MergeBamAlignment

ImportError: libcrypto.so.1.0.0: cannot open shared object file: No such file or directory

[2019-06-27 16:22] abmmki commented on #84
rule get_top_barcodes:
localrule multiqc_cutadapt_RNA:
...................
................
Conda environment defines Python version < 3.5. Using Python of the master process to execute script. Note that this cannot be avoided, because the script uses data structures from Snakemake which are Python >=3.5 only.

-- why this message don't know because I am using python 3.6

[2019-06-27 16:57] abmmki commented on #82
It didn't help. So, I edited the file "generate_meta.smk", and added following (        --limitGenomeGenerateRAM 999999999999999999\)

    conda: '../envs/star.yaml'
    shell:
        """mkdir -p {params.genomeDir}; STAR\
        --runThreadN {threads}\
        --limitGenomeGenerateRAM 999999999999999999\
	--runMode genomeGenerate\
        --genomeDir {params.genomeDir}\
        --genomeFastaFile

[2019-06-28 02:57] abmmki commented on #84
libcrypto.so.1.0.0
error could be solved by installing pysam from bioconda in conda environment.

I see "expression.tsv" file generated initially but replaced by long format file. I wish to keep wide for downstream analysis. Can convert from long to wide using library(tidyr) and other r packages though.

So, "final report"  is showing path and names of temporary files as well. That is somewhat  mi

[2019-07-02 07:38] Yichel518 commented on #22
Hello，I met a block in my analysis of dropSeq data when I used TagBamWithReadSequenceExtended, and my tools is  Drop-seq_tools-2.2.0，and my command is
"tuyx@ubuntu:~/Drop_Seq$ /home/tuyx/Drop_Seq/Drop-seq_tools-2.2.0/TagBamWithReadSequenceExtended INPUT=/home/tuyx/Drop_Seq/3-somite_Rep_1.ubam OUTPUT=3-somite_Rep_1_unaligned_tagged_Cell.bam SUMMARY=3-somite_Rep_1_unaligned_tagged_Cell.bam_summary.t

[2019-07-09 12:28] Hoohm commented on #84
Hey @abmmki

This is gonna be a tough one. The main purpose of conda is to help deal with those problematic package conflicts and all...

The main advice I would give you is to try to create the envs for each step then activate them manually for the specific step.

Is that not working for the violin plots?

[2019-07-09 12:29] Hoohm commented on #22
What's a ubam file??

[2019-07-10 08:44] grst commented on #84
When installing from bioconda you'll always have to use `conda-forge` channel, too.
The problem with your missing R dependencies is most likely that they are only on conda-forge and not on bioconda. I.e. use
[code]

instead of just
[code]

Also, what is the reason that you install packages manually?
Snakemake should do that for you.

[2019-07-22 08:08] Hoohm commented on #82
Great, that's what I would have proposed to do in the end.

[2019-07-22 08:08] #82 closed, assigned to nobody

[2019-07-24 15:41] abmmki opened #85 "No rule to produce meta"
Trying to download and generate Meta-data  using following command

snakemake --cores 16 meta --use-conda --directory ~/PROJECTS/Dropseq16

~/.conda/envs/myconda/lib/python3.6/site-packages/snakemake/workflow.py:70: FutureWarning: read_table is deprecated, use read_csv instead.

  self._workdir = None
Building DAG of jobs...
MissingRuleException:
No rule to produce meta (if you use input functions

[2019-07-25 10:06] seb-mueller commented on #77
Update, @Hoohm mentioned the ` --notemp` flag of snakemake, which can be used to prevent deleting temporay files.
 In that case I could undo this line https://github.com/Hoohm/dropSeqPipe/blob/63b3dc520fa4fb54f37c539220fa554de03437dd/rules/map.smk#L99 marking it as temp again.

However all the other changes are still valid in my mind, @Hoohm, could you check this?

[2019-07-27 09:01] abmmki commented on #83
Hi I am using fedora 30. I got different type of error:

Registered S3 method overwritten by 'R.oo':
  method        from
  throw.default R.methodsS3
Error in CreateSeuratObject(raw.data = umi_matrix, meta.data = metaData) :
  unused argument (raw.data = umi_matrix)
Execution halted
[Sat Jul 27 03:23:04 2019]
Error in rule violine_plots:
    jobid: 55

[2019-07-27 09:05] abmmki commented on #84
OK, finally Seurat installed following ways (thnks @grst):

conda install -c conda-forge -c r -c bioconda r-seurat
conda install -c conda-forge icu=64.2

I re-run the last part of command ......... But Now it is giving another error:
Registered S3 method overwritten by 'R.oo':
  method        from
  throw.default R.methodsS3
Error in CreateSeuratObject(raw.data = umi_matrix, meta.data = metaData)

[2019-07-27 19:13] seb-mueller commented on #84
Sorry for that struggle, it's rather difficult to manage versions with evolving software.
In this case, I suspect conda is automatically installing the latest Seurat (version 3) which has now gone live. However at the moment the pipeline is made for version 2 which has become incompatible. An update is on the todo list, but for the time being, could you try version 2, probably below might do the t

[2019-07-27 20:17] seb-mueller commented on #83
Just had another look and commit `7a537ec` has in fact been merged, so #71 is not the culprit anymore.
But as of the last message of @abmmki , it's the same error now as in #84.

[2019-07-30 08:03] Hoohm commented on #85
Hello @abmmki

This rule doesn't exist anymore, the doc has to be updated.

It is now called: `download_meta`

Let me know if this works

[2019-08-01 22:27] PGuen opened #86 "java.lang.OutOfMemoryError: GC overhead limit exceeded"
Hi,

i get the following error message in results/logs/bbmap/TC_10_repair.txt. The pipeline freezes after the `plot_adapter_content` rule.  I pushed the RAM already to 200 GB. Fastq files are quite big (~150gb). Any ideas?

[code]

[2019-08-05 08:01] Hoohm commented on #86
Hello @PGuen,

150Gb fastqs are gonna be though to deal with here. Any possibility to split them by any biological condition?

[2019-08-05 13:20] PGuen commented on #86
Thanks for your fast response and your suggestion. Sorry, I realized that there was an issue with merging the files outside the dropseqpipe. Thanks.

[2019-08-05 13:20] #86 closed, assigned to nobody

[2019-09-25 15:09] JaydeepBhat opened #87 "Locus extraction for Introns"
I am interested in getting read counts for introns in the final extraction matrix. As per dropseq pipeline (v0.4), I used "INTRON" together with "CODING" and "UTR" in the config.yaml file. Unfortunately, I am getting following error:

**Error**
drop-seq-pipe_1  | INFO 2019-09-23 20:37:47     SingleCellRnaSeqMetricsCollector
drop-seq-pipe_1  |
drop-seq-pipe_1  | ********** NOTE: Picard's command li

[2019-09-25 15:11] Hoohm commented on #87
Hello @JaydeepBhat
This is because there is a mistake in the documentation, it's supposed to be INTRONIC and not INTRON. Good catch! Thanks

I'll change it in the next release.

[2019-10-01 17:05] seb-mueller opened #88 "How are R1 reads filtered"
Just been reviewing the code for R1 read filtering.
In my understanding, a R1 read should be filtered if an adapter reaches into the barcode and/or UMI region, right.

According to the code, filtering is done using the code below for rule `rule cutadapt_R1:`:

https://github.com/Hoohm/dropSeqPipe/blob/9099c5995db8054ec11ca3e5492c268bca308805/rules/filter.smk#L30-L37

`--overlap` is described as fo

[2019-10-18 10:02] Hofphi opened #89 "Another type of violin plot failure"
Hello everyone,

I have encountered a violin plot failure which I am unable to resolve. I was able to generate the plot with previous data but suddenly the pipeline gives an error at this process and shuts down.

This is the error message:

[code]
I already tried to manually execute the R-script:

[code]
Which gives me that error:

`/mnt/DATA/DropSeq_Philipp/dropSeqPipe_v04/.snakemake/scripts/tmp7

[2019-10-18 15:54] Hofphi commented on #89
I am seem to miss this file:

`/mnt/DATA/DropSeq_Philipp/dropSeqPipe_v04/.snakemake/scripts/tmpahs41u48.plot_violine.R`

Shouldn't this temporary script be generated as soon as I start the pipeline. All files needed to make the plot do exist in the `results/summary` directory.

[2019-10-18 15:55] #78 closed, assigned to nobody

[2019-10-21 09:21] Hoohm commented on #89
Hello @Hofphi
you have nto changed anything and you get a new error?

You can't try and run the temporary R script file because it's getting deleted by snakemake on the fly.

There is a new debug feature coming up in the new release but is already implementd on the develop branch if you want to try it out.

It helps with those kinds of issues by creating an rdata file of the snakemake object befor

[2019-10-27 21:48] JaydeepBhat commented on #87
Thank you so much. It's working fine for INTRONIC.

[2019-10-27 21:49] #87 closed, assigned to nobody

[2019-11-04 20:04] mcjmigdal opened #90 "Problems when runing from conda env"
Hi,

with colleague we run into some troubles when running your pipeline while being in active conda environment. Deactivating it solved our problems. I don't think it's relevant to dig this issue, but perhaps you could add a warning for this in your documentation. Or highlight it more if it is already there.

Cheers MM

[2019-11-12 12:01] Hoohm commented on #90
Hello @mcjmigdal
Thanks for pointing it out. I'll keep this here until we add it to the documentation.

Thanks for the tip!

[2019-11-13 14:13] #74 closed, assigned to nobody

[2019-12-16 11:03] caramirezal commented on #80
Could you please provide an already to use example to run for testing with a fully filled yaml template example? It would be very helpful. I'm having the following issue. It's weird because I'm pretty sure that the fastq.gz files are there but the message say they aren't. I even use the full path.

[code]

This is the whole config.yaml file.

[code]

Again a complete example would be great, maybe

[2019-12-19 17:00] abmmki opened #98 "NH tag not found in BAM file"
HI,
previous mereging script not keeping NH tags. New version is OK.
Also, deleting "temp" prefix from *.smk files keeps all files intermediate files including wide format expression metrix.

best,

[2019-12-19 18:28] abmmki commented on #98
map.smk  is producing Aligned.out.bam  file which keeps NH tag, but in later step: MergeBamAlignment
produces Aligned.merged.bam where NH tag is deleted. How to keep this tag here and also in later stages gene_exon_tagged.bam  and final.bam file.

In map.smk or in the script merge_bam.py where need to change to keep the NH tag??
This is needful for velocyto (http://velocyto.org/) run.

Thanks for

[2019-12-25 13:14] manarai opened #99 "Problem running the new version"
Hi,

This used to work for me with the older version of dropseqpipe but I updated it and am having so issues 30% half way through. Not sure if I am even setting this up correctly. I am trying to run a mix sample of human and mouse from Nadia. Any help would be great!

Thanks for this great package.

_________________________________
[Wed Dec 25 21:57:12 JST 2019] org.broadinstitute.dropseqrna.barn

[2019-12-27 10:11] Hoohm commented on #69
Thanks @dylkot. I'll close this now since it has been fixed.

[2019-12-27 10:11] #69 closed, assigned to nobody

[2019-12-27 10:49] #54 closed, assigned to nobody

[2019-12-27 10:50] Hoohm commented on #77
Yep, I'm closing this

[2019-12-27 10:50] #77 closed, assigned to nobody

[2019-12-27 10:52] Hoohm commented on #80
Hello @caramirezal
I would not use relative paths at all. We sometimes get odd behaviors with those.
There is a test data in the .test folder. You can download this by using this command: `git submodule update --init`

[2019-12-27 10:52] #81 closed, assigned to nobody

[2019-12-27 10:53] Hoohm commented on #83
Is this fixed? Can I close it?

[2019-12-27 10:54] Hoohm commented on #84
Closing this for now since it seems to be fixed.

[2019-12-27 10:54] #84 closed, assigned to nobody

[2019-12-27 10:55] Hoohm commented on #85
I assume it worked. Closing this

[2019-12-27 10:55] #85 closed, assigned to nobody

[2019-12-27 10:55] Hoohm commented on #88
This has been changed in 0.5. It now is based on the index of the last UMI base

[2019-12-27 10:55] #88 closed, assigned to nobody

[2019-12-27 10:56] Hoohm commented on #98
Yes, the latest version fixed this issue.

There is an option to keep all temp files `--no-temp`

[2019-12-27 10:56] #98 closed, assigned to nobody

[2019-12-27 10:59] Hoohm commented on #99
We have made quite a few changes for the new version and our test pipeline for mixed species is not that robust so it's possible that some bugs made it through the cracks.

I would not be surprised if your bam files are empty and the extraction can't work since there is nothing to extract.

What does the species plot look like?

[2019-12-28 02:11] manarai commented on #99
Hi,

The pipeline failed before making the plot. As you guessed the Bam files were empty. Do you still have the older version that I could download until the new version becomes stable?

Thanks

[2020-01-02 11:04] seb-mueller commented on #99
Version 0.5 should be most stable in fact.
In mixed species, it can happen that one species is in fact missing in one dataset which makes the pipeline fail. Could you try running with one species only to see if it works?
Are both `homo_sapiens/unfiltered.bam` and `mus_musculus/unfiltered.bam` empty?
If it fails for single species, could you attach the log file for trouble shooting (including how

[2020-01-20 00:54] YOU-k opened #100 "10x v2 filter part in config.yaml"
Hi,
I would like to run dropseqpipe for 10x v2 data. and i am not sure about what to be included in config.yaml. Here is what I have,
`FILTER:
    barcode-whitelist: ''
    5-prime-smart-adapter: ''
    cell-barcode:
        start: 1
        end: 16
    UMI-barcode:
        start: 17
        end: 26
    cutadapt:
        adapters-file:
        R1:
            quality-filter: 30
            maximum

[2020-02-06 22:39] RichardCorbett opened #101 "First test with Dolomite Nadia data"
Hi folks,

I'm trying dropSeeqPipe for the first time on some test Nadia data we generated.    I am using the example Nadia template config and I have 4 samples, each with paired-end 125bp reads.

When I start snakemake it seems that fastqc completes successfully, and most of the cutadapt jobs are successful, but things go awry when my first bbmap/whitelist/umi_tools commands are run.

I'll try ru

[2020-02-07 08:48] seb-mueller commented on #101
You seem have it set up and run it the right way, for some reason umi-tools however think there are no barcodes in your sample:

[code]
umi-tools estimates the number of barcodes from this file: `/projects/rcorbettprj2/TechD/dolomite/results/samples/sample4/trimmed_repaired_R1.fastq.gz`, and I suspect something is wrong with it.
Could you inspect this, e.g. looking at the first entries `zcat trimm

[2020-02-07 10:48] seb-mueller commented on #100
An empty adapter file can well be the reason for it. Could you try with a non empty one? There are some in the template directory such as this [one to try](https://github.com/Hoohm/dropSeqPipe/blob/master/templates/NexteraPE-PE.fa). Having said this, we should probably implement proper checks with meaningful error messages for this kind of thing. Please let us know if this was indeed the reason if

[2020-02-07 16:18] RichardCorbett commented on #101
Thanks @seb-mueller,

I can confirm that trimmed_repaired_R1.fastq.gz is completely empty.   I looked through the logs to try and guess which upstream command creates these files where I see this command:

`java -ea -Xmx120g -cp /projects/rcorbettprj2/TechD/dolomite/dropSeqPipe/.snakemake/conda/3e00e686/opt/bbmap-38.22-1/current/ jgi.SplitPairsAndSingles rp -Xmx120g in=/projects/rcorbettprj2/TechD

[2020-02-07 19:22] RichardCorbett commented on #101
I suspect that there is a problem with my fastq format, which I've seen before when using bbMap.   My fastq entry names have the following format where there is both a trailing "/2" in the read name and a leading "2" in the second field.
I'll try cleaning up the names a little to see if that helps.
`@HS28_337:3:1101:11073:1999/2 2:N:0:TCCTGAGC`

[2020-02-07 22:38] RichardCorbett commented on #101
Used this command:
[code]
and am now getting non-empty files and the analysis is progressing to the alignment stage.

[2020-02-08 06:14] suminwei2772 opened #102 "unable to run conda as standalone application"
Hi, I'm trying to run dropSeqPipe, and have followed the steps to install miniconda3. When I try to run the following error:

snakemake --use-conda --cores 4 --directory /projects/lwei_prj/Dolomite

Building DAG of jobs...
CreateCondaEnvironmentException:
Unable to check conda version:
ERROR: The install method you used for conda--probably either `pip install conda`
or `easy_install conda`--is not

[2020-02-08 12:19] seb-mueller commented on #101
Thats impressive bugfixing work Richard! Since you have seen this before (and might therefore occur for others), this might be material for the trouble-shooting section. Do you have a link or so that elaborates on this problem? Also, bbmap might benefit from handling those files, so we can maybe send them a bug report.

[2020-02-08 12:32] seb-mueller commented on #102
It look like the installed conda is not in your `PATH` and you might have another version of conda which is in the `PATH`. Could you try `echo $PATH`? Does it include the conda installation directory? Also, could you try follow the suggestions [here](https://docs.conda.io/projects/conda/en/latest/user-guide/install/linux.html) for troubleshooting?

[2020-02-08 23:43] suminwei2772 commented on #102
Did echo $PATH, and looks like it does include the conda installation directory (/projects/lwei_prj/Dolomite/miniconda3/bin):

/projects/lwei_prj/python_virtual_env/bin:/projects/lwei_prj/Dolomite/miniconda3/bin:/projects/lwei_prj/Dolomite/miniconda3/condabin:.:/projects/marralab_prj/lwei/AAML1031/scripts/samtools-1.9:.:/projects/lwei_prj/python_virtual_env_arboreto/bin/python:/usr/local/bin:/usr/

[2020-02-10 12:46] seb-mueller commented on #102
Indeed, the path seems correct. Strange. I still think there is something wrong with conda in general.Could you try to install something in conda, e.g. `conda install samtools` or so?
Failing this, could you have a look what `conda info` gives you.

[2020-02-10 16:31] RichardCorbett commented on #101
I suspect that not many others are getting read names like ours.   I think we have that mix of formats for some backwards compatibility issues in our pipeline and I ran into a similar error when using a different bbMap tool last year.    From my understanding of the standard fastq formats we are the outlier.   That said Brian Bushnell over at bbMap might have some text stipulating the fastq format

[2020-02-11 22:34] seb-mueller commented on #101
Indeed, if this drags out we might transfer this to its own issue (not sure how this is handled elsewere though).
Anyway, the key errors seems here:

[code]

I haven't had this error before, but suspect this has to do with how the working directory is set. Normally I call snakemake from the cloned archive (containing the Snakefile) and specifiying the working dir using `--directory <absolute-path>

[2020-02-12 22:13] suminwei2772 commented on #102
Hi @seb-mueller,
So with some help from Richard Corbett (also posted an issue) I managed to get conda working by adding the miniconda3 install (/projects/lwei_prj/Dolomite/miniconda3/bin) to the beginning of my PATH, and doing the following:

conda create -n dropSeqPipe
conda install -c bioconda -c conda-forge snakemake
conda activate dropSeqPipe

I re-started the run, and I'm now getting the foll

[2020-02-13 16:01] seb-mueller commented on #102
First of all, conda seem to work now, and this seems to be another error.

 This is a bit unexpected and probably has to do how conda resolves package dependencies (which we don't have full control over). I suspect the dplyr and rlang versions don't like each other, could you try activating the environment in question:

[code]
within R, run the following and report back the results:

[code]
Also,

[2020-02-15 08:12] suminwei2772 commented on #102
I typed in
`conda activate /projects/lwei_prj/Dolomite/dropSeqPipe2/.snakemake/conda/d3403e9b
(/projects/lwei_prj/Dolomite/dropSeqPipe2/.snakemake/conda/d3403e9b) [lwei@marrahost02 dropSeqPipe2]$ R
`
I then get the following:

[code]

[2020-02-15 08:13] suminwei2772 commented on #102
Also, I cloned the dropSeqPipe from Github using
`git clone https://github.com/Hoohm/dropSeqPipe.git
`
I'm not sure how I may be able to find out which version this is?

[2020-02-15 12:30] Hoohm commented on #102
Hello @suminwei2772
would you be ok to try the singularity approach instead of the conda one?

[2020-02-16 19:13] seb-mueller commented on #102
I'm pretty sure you are on version 0.4, i.e. the current master. It is concerning that this is not working for you. Strangely, your `dplyr` version is 0.7.4 even though it should be [0.7.6](https://github.com/Hoohm/dropSeqPipe/blob/4fc0de4b73588c22e2df78c9e0eae8b928d70e76/envs/r.yaml#L10). Not sure why this is, maybe it is interfering with a R local install, you could check by typing `.libPaths()`

[2020-02-24 02:32] YOU-k commented on #100
a randomly not empty one would work. but i have to check the stats for the percentage of trimmed sequences in case if some wanted sequences are trimmed accidentally.

[2020-03-19 02:26] TomKellyGenetics commented on #42
I've written a sed solution to extract the barcodes and UMI from R1. This will return a Read1 with an 18bp barcode and 8bp UMI.

[code]

[2020-03-21 15:53] Hoohm commented on #42
Thank you @TomKellyGenetics !

I'm gonna add this to the documentation :)

[2020-04-01 00:24] RichardCorbett opened #103 "help undestanding output"
Hi dropseqpipers,

I have downsampled some single cell data to test for the quality of the results using the same number of reads per cell.   I have given each of my 100 cells 10,000 reads in the fastq files.

After analysis I see that only have about ~3000 reads per cell that are used for the anlysis and I am trying to diagnose where the reads might have been filtered out.      One possibility is

[2020-04-01 08:15] Hoohm commented on #103
Hey @RichardCorbett
I would rather see the log file we create that is called `clean_qc` or even better, the yield plot if you got it.

[2020-04-01 14:16] RichardCorbett commented on #103
Thanks @Hoohm,

I don't seem to have either of those:

`find .
./samples
./samples/sample1
./samples/sample1/top_barcodes.csv
./samples/sample1/barcodes.csv
./samples/sample1/trimmed_repaired_R1.fastq.gz
./samples/sample1/trimmed_repaired_R2.fastq.gz
./samples/sample1/empty_barcode_mapping.pkl
./samples/sample1/barcode_ref.pkl
./samples/sample1/barcode_ext_ref.pkl
./samples/sample1/Log.final.out
.

[2020-04-01 14:42] Hoohm commented on #103
This is the one /logs/cutadapt/sample1.clean_qc.csv
What about the plots folder?

On Wed, Apr 1, 2020 at 4:16 PM Richard Corbett <notifications@github.com>
wrote:

--

*Roelli Patrick Division of Animal Physiology and Immunology TUM School of
Life Sciences Weihenstephan Technische Universität München Weihenstephaner
Berg 3 85354 Freising GermanyBCF, Swiss Institute of BioinformaticsBâtiment
Génopo

[2020-04-01 15:49] RichardCorbett commented on #103
The plots folder is there, I think that some plots failed, perhaps due to an R library problem on the server.     I do have the plots for the same data pre-downsampled (ie. not just 100 cells at 10K reads, but all the data for all the cells:

![image](https://user-images.githubusercontent.com/9285915/78158158-bccdb100-73f5-11ea-996e-a75790921774.png)

clean_qc file:

Illumina_Universal,AGATCGGAAGA

[2020-04-03 18:27] RichardCorbett commented on #103
Hi @Hoohm,
Do the plot or data above help you understand how we're only seeing about 3500 reads per cell in our read-based matrix.mtx file?   If I understand the plot correctly I expected to see about twice the number that we're seeing.   Any thoughts would be appreciated.

[2020-04-03 20:26] Hoohm commented on #103
The best plot to help would be the yield plot, but for some reason it
crashed.
What about the star multiqc report?

On Fri, 3 Apr 2020, 20:27 Richard Corbett, <notifications@github.com> wrote:

[2020-04-03 21:10] RichardCorbett commented on #103
Star results...
![image](https://user-images.githubusercontent.com/9285915/78404934-5347d100-75b4-11ea-9678-a71fe39f6d26.png)

[2020-04-04 05:36] Hoohm commented on #103
When you say 3000 reads, to mean that's the total for each cell? 3000 reads
or umi?

On Fri, 3 Apr 2020, 23:10 Richard Corbett, <notifications@github.com> wrote:

[2020-04-04 16:08] RichardCorbett commented on #103
The 3000 is the total reads per cell.   I also have the UMI counts which average down around 1000 counts per cell.

[2020-04-04 16:53] Hoohm commented on #103
From the cleanqc I see that around 800'000 of your R1 has been trimmed, that means your left with around 200'000 reads after trimming. From there, you loose around 20% so you end up with 150'000 so, assuming similar distribution of your data for all the cells, this would be around 1500 reads per cell.

[2020-04-04 16:57] RichardCorbett commented on #103
Great.    Would it be correct to interpret this as the reads have lots of polyA/T included that don't contain enough 3' RNA to be useful?

[2020-04-07 23:31] RichardCorbett commented on #103
I just heard that our libraries for this test were 100-150bp shorter than intended which seems to be concordant with the interpretation that many of our read pairs did not contain significant mRNA signal adjacent to the polyA sequence as shown by these lines from the clean_qc file:

Does this seem to make sense to you?

thanks
RIchard

[2020-04-27 10:38] rjg2186 opened #104 "Query regarding ratio in config.yaml"
Hi @Hoohm

I am trying to run the pipeline using reads obtained from 1:1 mixture of human and mouse cell.
How does the ratio in yaml needs to be justified ? I can see 0.2 in tutorial. Does it depend on experiment ?

Any inputs/thoughts in this is highly appreciated.

Thanks.

[2020-04-28 18:45] klevdiamanti opened #105 "10X split by oligos"
Hi,
I have data from 10X ran in 2 lanes and the fastq files are split by oligos (explained  herehttps://support.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/using/fastq-input). Essentially the path structure is the follows:

I am thinking of using prepare.smk to concatenate lanes within each directory and then consider each directory as a different sample. As the end resul

[2020-05-08 16:42] suminwei2772 opened #106 "Running dropSeqPIpe on 10X data"
Hi,
I am hoping to run dropSeqPipe on some 10X data (V1 chemistry).
I was wondering if I would need to supply a different adapters.fa file (not the default one that comes with dropSeqPipe) in this case? Would I need to make any other changes to the input files?
Thank you,
Lisa

[2020-05-12 09:54] #105 closed, assigned to nobody

[2020-05-20 04:27] TomKellyGenetics commented on #83
@terooatt and I are in the same lab, we're running the pipeline on the same Debian server. I think this was the same issue I had so it is safe to close.

[2020-06-03 03:52] YOU-k opened #107 "what strategy is applied to select CB"
Hi, I both ran dropseqpipe and Cellranger with emptydrops, but i just find that the cells selected quite differ. I would like to know what exactly you applied to select true cells from ambient RNA.
Thanks!

[2020-06-12 09:21] TomKellyGenetics commented on #101
I get a similar error running DropSeq data (Mascosko 2015). I downloaded files from GEO and SRA and did some filtering.

SRR1873277_S1_L001_R1_001.fastq
[code]
SRR1873277_S1_L001_R2_001.fastq
[code]

I get this issue running version 0.5 or the current `develop` branch acef6df06836

My understanding is that `DigitalExpression` or `umitools` no longer accept empty barcode whitelists. As a workaround

[2020-06-12 09:31] TomKellyGenetics commented on #101
In my case, I was able to fix it by adding the second field to the header.

[code]

With this `get_cell_whitelist`, `extend_barcode_top`, and `repair_barcodes` was able to run without specifying a barcode `barcode-whitelist: ''`.

I hope this helps anyone running into similar problems but it may help to check for this problem in the pipeline (or remove the requirement for compatible headers if not

[2020-06-24 08:03] Hoohm commented on #103
Yes, seems to be inline with my interpretation.

[2020-06-24 08:05] Hoohm commented on #106
Hey @suminwei2772
I would check this github page, it will help out with any specifics linked to the V1 chemistry you need.

https://github.com/Teichlab/scg_lib_structs

[2020-06-24 08:07] Hoohm commented on #107
Hey @YOU-k
Our filters are based on either a provided whitelist or on the number of cells provided in the sample.csv file.

We don't perform any selection based on expression values for example. We prefer letting the user decide so that we don't skew the data as consensus on filtering is not totally stable yet.

[2020-07-02 17:43] rjg2186 opened #108 "Issue with fastqc.smk"
Hi @Hoohm

I am using the dropSeqPipe v0.4 and have installed snakemake using conda on custom directory. When I execute the pipeline, I am getting below error with fastqc.smk. Can you please let me know how to fix this.
Thanks

[code]

[code]

[2020-07-02 20:19] vuzun commented on #80
Hi,

I'm having the same issue as @caramirezal
I have .fastq.gz files in the data folder, but I still get the "no samples found" error.
I tried the full paths in both the snakemake call and the yaml, but to no success.

I extracted the pipeline from the 0.4 tar.gz archive.

Any suggestions?

Thanks!

[2020-07-07 11:19] vuzun commented on #108
Hi @rjg2186 ,

Have you solved this issue?
I'm having the same error with Nadia data for Arabidopsis.

Thanks!

[2020-07-07 11:43] rjg2186 commented on #108
Hi @vuzun

No, I even tried with the latest code from github. Still facing the same issue.

Thanks.

[2020-07-07 11:56] Hoohm commented on #108
I'll take a look into it this week. I'll keep you posted :)

[2020-07-07 22:03] Hoohm commented on #108
Are your R1 and R2 files having the exact same sample name?

It should be like  `sample1_R1.fastq.gz`, `sample1_R2.fastq.gz`

the prefix has to be exactly the same, in this example: `sample1_`

[2020-07-09 11:39] rjg2186 commented on #108
Hi @Hoohm

Yes, the prefix is identical for the paired end read files. Three months back, I have used the same version of the dropSeqPipe and it worked fine. I am not sure the reason for getting an error now.

Is there anything to do with the version of Python ?

Thanks

[2020-07-09 12:49] vuzun opened #109 "Arabidopsis annotation missing transcipt_name"
Hi,

I encountered an error after the ReduceGTF step in the pipeline - Invalid GTF line and missing transcript_name.

I am running it on Arabidopsis data, so I changed the rule that fetches the annotation to point to ftp://ftp.ensemblgenomes.org/pub/plants/release-47/gtf/arabidopsis_thaliana, but it looks like the Arabidopsis annotation doesn't have the transcript_name field like the human does.

[2020-07-09 13:21] seb-mueller commented on #109
Hi vuzu,

I came across the same issue which seems to come down to a flawed ensemble annotation and dropseq-tools requiring `transcript_name` to generate the refFlat. Apparently they didn't have non human and mouse samples in mind.

I cobbled together a workaround, which is I still have to test
The idea is to copy the the gene_id as  transcript_name when it is absent.
I'm happy to share the full w

[2020-07-10 07:45] seb-mueller commented on #108
This is odd indeed. Maybe conda has introduced some sort of incompatibility.
The errors seems to to come from `fastqc.smk` i.e. [this](https://github.com/Hoohm/dropSeqPipe/blob/229470158e8dfc3cb49eebf3eb63cea334eeac74/rules/fastqc.smk#L47) line pointing at the multiqc wrapper.

Since qc is not essential to run the rest, could you try to leave it out to see if it only affects this rule?
i.e. someth

[2020-07-12 15:08] Hoohm commented on #108
Could you run the pipeline with the `-p` flag?
It will print out the command it tries to execute and we can have a closer look at what's not working.

[2020-07-17 11:30] rjg2186 commented on #108
Hi @Hoohm

It looks like MutiQC is using an older version of python which conflicts with snakemake current requirement of python3>.

Below is the error and the command causing the error

[code]

[2020-07-17 12:43] rjg2186 commented on #108
Hi @Hoohm

I just changed the wrapper to point to master/bio/multiqc and it's working fine now.

Thanks

[2020-07-17 13:01] Hoohm commented on #108
Yea I was suspecting this would fix it.
I was hoping to change multiqc version for a long time but I always had
some conflicts coming up and that's why we kept the older version.

Gonna test it on our side and update asap

On Fri, 17 Jul 2020 at 14:43, rjg2186 <notifications@github.com> wrote:

--

*Roelli Patrick Division of Animal Physiology and Immunology TUM School of
Life Sciences Weihensteph

[2020-08-10 10:56] dgithub208 opened #110 "CreateCondaEnvironmentException: Could not create conda environment from (env).yaml"
Hi,

Thank you very much for putting together this tool! I have been able to run dropSeqPipe on my local machine. However, I do not have enough memory for the alignment steps so I am now trying to run it in a Slurm-based cluster.

Below are the steps that I have taken [(following these instructions)](https://hoohm.github.io/dropSeqPipe/Installation/):

Login and start interactive session.

`wget h

[2020-08-10 13:03] seb-mueller commented on #109
As an update to the above. I've found a lot of genes being excluded because they have the same name. Drop-Seq-tools excludes them by default. It turns out, `transcript_name` needs to be as unique as possible. In the snippet above, field $10 was used which corresponds to `gene_id`, however this removes all the isoforms since they share the same `gene_id`. Using  `transcript_id` in field $12 turns o

[2020-08-31 06:35] YOU-k opened #111 "Less detected lncRNA"
Hi, I am noticing that less lncRNA are detected with dropSeqPipe. only 22 were found while with other tools using STAR I got much more, about 2k.
I specified:
META:
    species:
        mus_musculus:
            build: 38
            release: 99
    reference-directory: reference
    gtf_biotypes: gtf_biotypes.yaml

and in the gtf_biotypes.yaml:
  - 3prime_overlapping_ncRNA
  - antisense
  - bidir

[2020-08-31 12:11] YOU-k commented on #111
Sorry the problem is fixed. I just found out dropSeqPipe uses transcript biotypes.

[2020-08-31 12:11] #111 closed, assigned to nobody

[2020-09-09 07:36] jkubis96 opened #112 "create_star_index:"
Hi,
I have installed DropSeqPip with instruction on two others computer and it doesn't work.
I have ERROR MESSAGE

LOG:

Building DAG of jobs...
Using shell: /usr/bin/bash
Provided cores: 20
Rules claiming more threads will be scaled down.
Singularity containers: ignored
Job counts:
	count	jobs
	1	DetectBeadSubstitutionErrors
	1	MergeBamAlignment
	1	STAR_align
	2	SingleCellRnaSeqMetricsCollector_s

[2020-09-21 17:19] #112 closed, assigned to nobody

[2020-10-12 14:23] geshtin opened #113 "ConvertToRefFlat fails while running Drop-seq_tools-2.4.0"
I have  problems creating the refflat from the gtf file. It has been reported more often, I followed all suggestion, and as far as I can see the gtfs's look OK. I have one where it works:
[code]
with the following error:

[code]

Both gf's have the same fields in column 9.
I see: "GTFParser       Seen many non-increasing record positions"
what does this exactly mean?
So, what is wrong here? Is the

[2020-10-13 09:57] geshtin commented on #113
ls,
fyi.
I have been digging into it a bit more and came to some interesting observations.
I split up my file into smaller parts to see if somehwere there are some "strange entries"
Sometimes I came accross non-unique gene names (that is: two different gene_id entries, that have the same gene_name), But this was not a problem with just a few instances (when there were only, let's say, about 50 ins

[2020-10-13 11:11] seb-mueller commented on #113
Thanks for reporting, indeed, dropseq-tools was apparently developed with human/mouse in mind, which seems to be not what you use (Zea maize?). In particular, some of the annotations out there seems to have missing `gene_name` entries etc which still seems to be unresolved:
https://github.com/broadinstitute/Drop-seq/issues/50

I'll have to go through your error log in detail, but in the meantime,

[2020-10-13 12:40] geshtin commented on #113
thanks for the response,
I saw those issue 50 and 109. so I tried various versions of adding gene_name and transcript_name.
In the end adding the gene_name to all lines (if not already there) and transcript_name (to all non gene lines) worked out fine.
The underlying problem for me was that the gene_name was not unique! A small number of non-unique entries was fine, but a large number (250) not. S

[2020-10-13 13:44] seb-mueller commented on #113
Indeed, non unique gene names are a big problem and probably to be brought to attention to the annotation databases/consortia! So good spot. Did you write code to make those gene names unique, if yes, you could add it here or in issue #109 or so? Maybe this can be integrated in the pipeline as an option.

[2020-10-13 14:24] geshtin commented on #113
i wrote some python code (so not Java), and it is not that nice code (true python programmers will have a lot of comments!). Not really suitable for a production environment. But it works for me, and only when the first attribute in the 9th column is the gene_id (often the case fortunately). Now I just overwrite ALL gene_names, preferably you want to keep the "nice" gene names, many people use tho

[2021-04-02 10:12] ljouneau opened #114 "Also a problem with ViolinPlot"
Hi,

I encountered problems with the violinplot step.

First failure  : package scatterplot3d was missing so I added it.

Second failure  : package doParallel was missing so I added it.

Third failure : package VGAM was missing but now I am stucked
package ‘VGAM’ is not available (for R version 3.4.1)

Indeed, VGAM depends  R (≥ 3.5.0)

I am really a newbye with snakemake and conda.
How could I up

[2021-06-04 09:28] PGuen opened #115 "Unsupported pickle protocol 5 in repair_barcodes.py"
Hi,

when running the `rule repair_barcodes`  in cell_barcodes.smk I get the following error:

and

I'm running miniconda with Python 3.8 (snakemake is installed into a python 3.8 environment as well). Is this a python version problem, or something else?

Thanks!

[2021-06-04 17:42] PGuen commented on #115
Including _pickle5_ in merge_bam.yaml and `import pickle5 as pickle` in the repair_barcodes.py solved the problem for me.

Best

[2021-11-11 08:58] Eigertje commented on #115
Dear PGuen,

I got the same error as you described for DropSeqPipe with the rule repair_barcodes.
I've managed to try your suggestions, and it worked out fine.
Thanks!

[2021-11-23 10:11] Eigertje opened #116 "Error in rule repair"
I'm running DropSeqPipe v5.0 with 5 samples in my samples.csv file. However, the pipeline aborted on 1 sample during "rule repair".
After rerunning the pipeline with this sample removed the error occured again on another sample. For the other 3 samples the whole DropSeqPipe pipeline worked fine. Any idea what is happening here? I'm not familiar at all with python and snakemake I'm afraid.

The err

[2022-03-18 03:00] amufaamo opened #117 "SyntaxError in line 7 of Snakefile"
Hi, I try to run dropSeqPipe, but I got error

`snakemake --cores 8 qc --e-conda --directory /dropSeqPipe/working_dir/
`
[code]

line 7 of Snakefile is singularity: is something wrong?

[code]

[2022-03-30 08:49] NogitoErgoSum commented on #117
Got the same error

[2022-03-30 08:59] NogitoErgoSum commented on #117
I think it's got to do with snakemake version. I was using 'bioconda/linux-64::snakemake-3.13.3-py36_0' that I installed using conda by following the installation documentation.

After deactivating the environment and using the system snakemake (version 6.6.1) it worked. Well it kind of worked, now it says I don't have mamba package manager but that is probably another issue.

[2022-03-31 00:03] amufaamo commented on #117
OK, I will re-install snakemake. I try it now.

[2022-03-31 03:40] amufaamo commented on #117
Thank you it worked!! but I got new error. Close this issue, and build new issue. Thank you so much

[2022-03-31 03:40] #117 closed, assigned to nobody

[2022-03-31 03:41] amufaamo opened #118 "Error at perl locate"
Hi, I try to run dropseqpipe, but I got error below

perl: warning: Setting locale failed.
perl: warning: Please check that your locale settings:
        LANGUAGE = (unset),
        LC_ALL = (unset),
        LANG = "C.UTF-8"
    are supported and installed on your system.
perl: warning: Falling back to the standard locale ("C").

I understand it is perl issue, but I don't know how can I solve this